@charset "utf-8";

/***************************************************************************
*
* project-detail.css
*
***************************************************************************/

.pd-banner{
	/* background: url(./uploads/banner-bg.png) no-repeat top center; */
}
.pd-banner .pannel .pannel-head{
	font-size: 25px;
	background: #efefef;
	font-weight: bold;
	padding: 24px 50px;
}
.pd-banner .pannel .pannel-body{
	background: #fff;
	padding: 35px 50px 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.pd-banner .pannel .pannel-body .pannel-slider, .pd-banner .pannel .pannel-body .pannel-content{
	width: calc(50% - 30px);
}
.pd-banner .pannel .pannel-body .pannel-slider{
	text-align: center;
}
.pd-banner .pannel .pannel-body .pannel-content .row{
	margin-bottom: 18px;
}
.pd-banner .pannel .pannel-body .pannel-content .row .row-label{
	font-size: 14px;
	font-weight: bold;
	padding-left: 24px;
	background: no-repeat left center /14px;
}
.pd-banner .pannel .pannel-body .pannel-content .row-1 .row-label{
	background-image: url(../img/project-detail/ico-1.svg);
}
.pd-banner .pannel .pannel-body .pannel-content .row-2 .row-label{
	background-image: url(../img/project-detail/ico-2.svg);
}
.pd-banner .pannel .pannel-body .pannel-content .row-3 .row-label{
	background-image: url(../img/project-detail/ico-3.svg);
}
.pd-banner .pannel .pannel-body .pannel-content .row .row-number{
	font-size: 40px;
	font-weight: bold;
}
.pd-banner .pannel .pannel-body .pannel-content .row .row-process-bar{
	background: #ededed;
	color: #fff;
	line-height: 1.3;
	font-size: 16px;
	border-radius: 16px;
	position: relative;
}
.pd-banner .pannel .pannel-body .pannel-content .row .row-process-bar:after{
	background: #ffc95c;
	border-radius: 16px;
	content: "0%";
	padding-left: 15px;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: calc(0% - 15px);
}
.pd-banner .pannel .pannel-body .pannel-content .row .row-note{
	text-align: right;
	font-weight: bold;
	margin-top: 5px;
}
.pd-banner .pannel .pannel-body .pannel-content .pannel-btn a{
	font-size: 20px;
	color: #fff;
	text-align: center;
	background: #ff985f;
	text-decoration: none;
	display: block;
	padding: 16px;
	border-radius: 8px;
	position: relative;
}
.pd-banner .pannel .pannel-body .pannel-content .pannel-btn a::before, .pd-banner .pannel .pannel-body .pannel-content .pannel-btn a::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.pd-banner .pannel .pannel-body .pannel-content .pannel-btn a:hover span {
  transform: scale(1.2, 1.2);
}

.pd-banner .pannel .pannel-body .pannel-content .pannel-btn a::before {
  opacity: 0;
  background: rgba(255, 255, 255, 0.1);
  transform: scale(0.1, 0.1);
}

.pd-banner .pannel .pannel-body .pannel-content .pannel-btn a:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.pd-banner .pannel .pannel-body .pannel-content .pannel-btn a::after {
  transition: all 0.3s;
}

.pd-banner .pannel .pannel-body .pannel-content .pannel-btn a:hover::after {
  transform: scale(0, 0);
  opacity: 0;
}

.tab-area{
	margin-top: 5px;
}
.tab-area ul{
	display: block;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.tab-area ul li{
	width: 100%;
	display: block;
	background: #848484;
	cursor: pointer;
	text-align: center;
	color: #fff;
	font-size: 20px;
	padding: 15px;
	position: relative;
}
.tab-area ul li.active{
	background: #0071BA;
}
.tab-area ul li.active::before, .tab-area ul li.active::after{
	display: none;
}
.tab-area ul li::before, .tab-area ul li::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.tab-area ul li::before {
  opacity: 0;
  background: rgba(255, 255, 255, 0.1);
  transform: scale(0.1, 0.1);
}

.tab-area ul li:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.tab-area ul li::after {
  transition: all 0.3s;
}

.tab-area ul li:hover::after {
  transform: scale(0, 0);
  opacity: 0;
}

.pd-area{
	padding: 40px;
	overflow: hidden;
}
.pd-area .pd-text{
	margin-bottom: 20px;
	line-height: 1.8;
}
.pd-area .img-flr{
	float: right;
	padding-left: 40px;
	padding-bottom: 40px;
}
.pd-area .img-fll{
	float: left;
}
.pd-area .img-center{
	text-align: center;
}
.pd-area .pd-box{
	/* margin-bottom: 100px; */
}
.pd-area .pd-box .pd-box-title{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 40px;
}
.pd-area .pd-box .pd-box-content{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.pd-area .pd-box .pd-box-content .pd-box-content-panel{
	width: 100%;
	background: #f4f4f4;
	border-radius: 15px;
	padding: 38px 23px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.pd-area .pd-box .pd-box-content .pd-box-content-intro{
	width: 100%;

}
.pd-area .pd-box .pd-box-content .pd-box-content-panel .pd-box-content-panel-avatar{
	width: 185px;
}
.pd-area .pd-box .pd-box-content .pd-box-text{
	font-size: 12px;
	line-height: 2.8;
}
.pd-area .pd-box .pd-box-content .pd-box-content-panel .pd-box-content-panel-text-wraper{
	width: calc(100% - 208px)
}
.pd-area .pd-box .pd-box-content .pd-box-content-intro{
	padding: 0 23px;
}
.pd-area .pd-box .pd-box-content .pd-box-content-intro .pd-box-content-intro-title{
	font-size: 20px;
	margin-bottom: 6px;
}
.pd-area .pd-box .pd-box-content .pd-box-content-intro .pd-box-btn a{
	display: block;
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	text-align: center;
	background: #0071BA;
	width: 230px;
	padding: 7px;
	border-radius: 8px;
	position: relative;
}
.pd-area .pd-box .pd-box-content .pd-box-content-intro .pd-box-btn a::before, .pd-area .pd-box .pd-box-content .pd-box-content-intro .pd-box-btn a::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.pd-area .pd-box .pd-box-content .pd-box-content-intro .pd-box-btn a::before {
  opacity: 0;
  background: rgba(255, 255, 255, 0.1);
  transform: scale(0.1, 0.1);
}

.pd-area .pd-box .pd-box-content .pd-box-content-intro .pd-box-btn a:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.pd-area .pd-box .pd-box-content .pd-box-content-intro .pd-box-btn a::after {
  transition: all 0.3s;
}

.pd-area .pd-box .pd-box-content .pd-box-content-intro .pd-box-btn a:hover::after {
  transform: scale(0, 0);
  opacity: 0;
}
.pd-area .pd-box-2 .pd-box-title{
	padding-left: 30px;
	background: url(../img/project-detail/ico-4.svg) no-repeat left center /24px;
}
.pd-area .return-list{

}
.pd-area .return-list ul{

}
.pd-area .return-list ul li{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	background: #f4f4f4;
	padding: 30px 55px;
}
.pd-area .return-list ul li:not(:last-child){
	/* margin-bottom: 75px; */
}
.pd-area .return-list ul li .return-list-img{
	width: 360px;
}
.pd-area .return-list ul li .return-list-content{
	width: calc(100% - 420px);
}
.pd-area .return-list ul li .return-list-content .return-list-content-number{
	font-size: 35px;
	font-weight: bold;
	margin-bottom: 20px;
}
.pd-area .return-list ul li .return-list-content .return-list-text{
	line-height: 1.6;
	padding-right: 10px;
}
.pd-area .return-list ul li .return-list-content .return-list-status{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	margin-bottom: 38px;
	width: 370px;
}
.pd-area .return-list ul li .return-list-content .return-list-status .return-list-s span{
	font-size: 25px;
	font-weight: bold;
}
.pd-area .return-list ul li .return-list-content .return-list-btn a{
	display: block;
	text-align: center;
	color: #fff;
	font-size: 20px;
	background: #00aff0;
	border-radius: 6px;
	text-decoration: none;
	padding: 12px;
	width: 360px;
	position: relative;
}
.pd-area .return-list ul li .return-list-content .return-list-btn a::before, .pd-area .return-list ul li .return-list-content .return-list-btn a::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.pd-area .return-list ul li .return-list-content .return-list-btn a::before {
  opacity: 0;
  background: rgba(255, 255, 255, 0.1);
  transform: scale(0.1, 0.1);
}

.pd-area .return-list ul li .return-list-content .return-list-btn a:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.pd-area .return-list ul li .return-list-content .return-list-btn a::after {
  transition: all 0.3s;
}

.pd-area .return-list ul li .return-list-content .return-list-btn a:hover::after {
  transform: scale(0, 0);
  opacity: 0;
}

/*ACTIVE TAB*/
.pd-area{
	display: none;
}
.pd-area.active{
	display: block;
}
/*END ACTIVE TAB*/
@media(max-width: 768px){
	.pd-banner .pannel .pannel-head{
		display: none;
	}
	.pd-banner .pannel .pannel-body .pannel-slider, .pd-banner .pannel .pannel-body .pannel-content{
		width: 100%;
	}
	.pd-banner .pannel .pannel-body{
		flex-direction: column;
		padding: 0;
		background: none;
	}
	.pd-banner .wraper{
		padding: 0;
	}
	.pd-banner{
		padding-top: 4%;
		margin-top: 49px;
	}
	.pd-banner .pannel .pannel-body .pannel-slider{
		margin-bottom: 8%;
		padding: 0 4%;
	}
	.pd-banner .pannel .pannel-body .pannel-content{
		background: #fff;
		padding: 4%;
	}
	.pd-banner .pannel .pannel-body .pannel-content .row-title{
		font-size: 14px;
		text-align: center;
		display: block;
		margin-bottom: 4%;
	}
	.pd-banner .pannel .pannel-body .pannel-content .row .row-label{
		font-size: 10px;
		background-size: 12px;
		padding-left: 18px;
	}
	.pd-banner .pannel .pannel-body .pannel-content .row{
		padding: 0 6%;
		margin-bottom: 4%;
	}
	.pd-banner .pannel .pannel-body .pannel-content .row .row-number{
		font-size: 24px;
	}
	.pd-banner .pannel .pannel-body .pannel-content .row .row-process-bar{
		font-size: 10px;
	}
	.pd-banner .pannel .pannel-body .pannel-content .row .row-note{
		font-size: 10px;
	}
	.pd-banner .pannel .pannel-body .pannel-content .row-2, .pd-banner .pannel .pannel-body .pannel-content .row-3{
		width: calc(50% - 5px);
		display: inline-block;
	}
	.pd-banner .pannel .pannel-body .pannel-content .pannel-btn a{
		border-radius: 3px;
		font-size: 14px;
		padding: 9px 9px 10px;
		margin: 0 auto;
		width: 88%;
	}
	.tab-area ul li{
		font-size: 12px;
		padding: 11px;
	}
	.pd-area .pd-box .pd-box-content{
		flex-direction: column;
	}
	.pd-area{
		padding: 4% 2.5%;
	}
	.pd-area .pd-box .pd-box-title{
		font-size: 14px;
		margin-bottom: 4%;
	}
	.pd-area .pd-box .pd-box-content .pd-box-content-panel{
		padding: 5%;
		margin-bottom: 4%;
	}
	.pd-area .pd-box .pd-box-content .pd-box-content-panel .pd-box-content-panel-avatar{
		width: 38%;
	}
	.pd-area .pd-box .pd-box-content .pd-box-content-panel .pd-box-content-panel-text-wraper{
		width: 58%;
	}
	.pd-area .pd-box .pd-box-content .pd-box-text{
		font-size: 10px;
		line-height: 1.8;
	}
	.pd-area .pd-box .pd-box-content .pd-box-content-intro{
		padding: 0;
	}
	.pd-area .pd-box .pd-box-content .pd-box-content-intro .pd-box-content-intro-title{
		font-size: 14px;
	}
	.pd-area .pd-box .pd-box-content .pd-box-content-intro .pd-box-btn a{
		font-size: 12px;
		width: 140px;
		border-radius: 5px;
		padding: 12px;
		margin-top: 10px;
	}
	.pd-area .pd-box{
		margin-bottom: 12%;
	}
	.pd-area .pd-box-2 .pd-box-title{
		background-size: 14px;
		padding-left: 18px;
	}
	.pd-area .return-list ul li{
		flex-direction: column;
		padding: 8% 5%;
	}
	.pd-area .return-list ul li .return-list-img{
		text-align: center;
		width: 70%;
		margin: 0 auto 6%;
	}
	.pd-area .return-list ul li .return-list-content{
		width: 100%;
	}
	.pd-area .return-list ul li .return-list-content .return-list-content-number{
		font-size: 16px;
		margin-bottom: 2.5%;
	}
	.pd-area .return-list ul li .return-list-content .return-list-text{
		font-size: 12px;
	}
	.pd-area .return-list ul li .return-list-content .return-list-status{
		margin-bottom: 20px;
	}
	.pd-area .return-list ul li .return-list-content .return-list-status .return-list-s{
		font-size: 12px;
	}
	.pd-area .return-list ul li .return-list-content .return-list-status .return-list-s span{
		font-size: 16px;
	}
	.pd-area .return-list ul li .return-list-content .return-list-btn a{
		width: 70%;
		margin: 0 auto;
		font-size: 12px;
		padding: 8px;
		border-radius: 4px;
	}
	.pd-area .return-list ul li:not(:last-child){
		margin-bottom: 10%;
	}
	.pd-area .img-fll, .pd-area .img-flr, .pd-area .img-center{
		padding: 0 4%;
		float: none;
		text-align: center;
		display: inline-block;
		margin-bottom: 4%;
	}
	.pd-area-img.pc{
		display: none !important;
	}
}
