.access{
	margin-bottom: 50px;
}

.access .banner-access{
	background-image: url(../img/staticPage/main_access.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
}

.access .map-wrapper{
	padding: 20px;
	background: #b6cfe0;
	margin-top: 30px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.access .map-wrapper iframe{
	border: none;
	min-height: 550px;
	width: 66%;
}

.access .map-wrapper .map-info{
	width: calc(34% - 20px);
	color: #fff;
}

.access .map-wrapper .map-info .map-name{
	font-size: 30px;
}

.access .map-wrapper .map-info .map-address{
	font-size: 18px;
	line-height: 1.8;
}

.access .map2{
	margin-top: 60px;
	flex-direction: row-reverse;
}

@media(max-width: 768px){
	.access .map-wrapper{
		flex-direction: column;
		padding: 0;
	}

	.access .map-wrapper iframe, .access .map-wrapper .map-info{
		width: 100%;
	}

	.access .map-wrapper iframe{
		min-height: 220px;
	}

	.access .map-wrapper .map-info{
		padding: 4%;
	}

	.access .map-wrapper .map-info .map-name{
		font-size: 20px;
	}

	.access .map-wrapper .map-info .map-address{
		font-size: 14px;
	}

	.access .map2{
		margin-top: 30px;
	}
}