.lineProgess {
	display: block;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 30123123123;
	height: 3px;
}
.login-panel .rodal-dialog {
	padding: 0;
}
.cover-paginate.edit-public .pagination {
	width: 100%;
}
.rodal {
	z-index: 999999999999999;
}
/* loading dots */
body .div-content-edit p {
	padding: 0;
	border: none;
	color: inherit;
	margin: 0;
	text-align: inherit;
}
.loading-dot-here {
	position: absolute;
	top: -40px;
	left: 0;
}
.loading-dot-here .lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.loading-dot-here .lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #FAC75A;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loading-dot-here .lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.loading-dot-here .lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.loading-dot-here .lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.loading-dot-here .lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}


.load-more-reply {
	float: right;
	width: 610px;
	margin: 15px 0;
	cursor: pointer;
}
.load-more-reply svg {
	margin-left: 10px;
}
.first_li_comment {
	text-align: right;
	position: relative;
}
.first_li_comment span
{
	color: #00aff0;
  cursor: pointer;
}
.first_li_comment .lds-roller{
	position: absolute;
	top: -30px;
	left: 50%;
}
.icon.send {
	display: block;
    height: 30px;
    width: 30px;
    max-height: 75vw;
    max-width: 75vh;
    position: relative;
    margin: 0 auto;
    border-radius: 10%;
		cursor: pointer;
    position: absolute;
    right: 0;
    top: 18px;
		background: none;
		border: none;
}
.icon.send:before {
  content: "";
  display: block;
  background: #fff;
  background: linear-gradient(to bottom, #fff, #f0f0f0);
  position: absolute;
  top: 20%;
  height: 60%;
  width: 100%;
  -webkit-clip-path: polygon(10% 0%, 90% 50%, 10% 100%, 20% 55%, 50% 50%, 20% 45%);
  -moz-clip-path: polygon(10% 0%, 90% 50%, 10% 100%, 20% 55%, 50% 50%, 20% 45%);
  clip-path: polygon(10% 0%, 90% 50%, 10% 100%, 20% 55%, 50% 50%, 20% 45%);
  background: #FAC75A;
  left: 1%;
  top: 21%;
}
.icon.send:after {
  content: "";
  display: block;
  background: #fff;
  background: linear-gradient(to bottom, #fff, #f0f0f0);
  position: absolute;
  top: 20%;
  height: 60%;
  width: 100%;
  -webkit-clip-path: polygon(10% 0%, 90% 50%, 10% 100%, 20% 55%, 50% 50%, 20% 45%);
  -moz-clip-path: polygon(10% 0%, 90% 50%, 10% 100%, 20% 55%, 50% 50%, 20% 45%);
  clip-path: polygon(10% 0%, 90% 50%, 10% 100%, 20% 55%, 50% 50%, 20% 45%);
	background: #FAC75A;
}



/* form starting stylings ------------------------------- */
.comments-container .group 			  {
  position:relative;
  margin-bottom:45px;
	margin-top: 40px;
}
.reply-here , .reply-reply-here {
	display: none;
}
.reply-here.active , .reply-reply-here.active {
	display: block;
}
.comments-container .reply-here .group
{
	margin-top: 20px;
	float: right;
	width: 680px;
}
.comments-container .reply-reply-here .group
{
	margin-top: 20px;
	float: right;
	width: 610px;
}
.comments-container input 	{
  font-size:18px;
  padding: 15px 50px 10px 40px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #FAC75A;
}
.comments-container input:focus 		{ outline:none; }

.comments-container textarea 	{
  font-size:18px;
  padding: 15px 50px 0px 40px;
  display:block;
  width:calc( 100% - 30px );
  border:none;

	resize: none;
}
.comments-container .border {
	  border-bottom:1px solid #FAC75A;
}

.comments-container textarea:focus 		{ outline:none; }

/* LABEL ======================================= */
.comments-container label 				 {
	color: #FAC75A;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
	left: 0;
  top: -29px;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  padding-left: 30px;

}



/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#FAC75A;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:0%;
}
.bar:after {
  right:0%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:100%;
}
textarea:focus ~ .bar:before, textarea:focus ~ .bar:after {
  width:100%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

.avatar-comment {
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	top:14px;
	left: 0;
	border-radius: 50%;
	border: 1px solid #FAC75A;
	padding: 2px;
}
.avatar-comment img {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}





/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {
	width: 768px;
	margin-bottom: 45px;
	margin-left: 41px;

}

.title-comment {
	font-size: 20px;
	color: #283035;

  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
	font-weight: bold;
}

.comments-container h1 a {
	font-size: 18px;
	font-weight: 700;
}

.comments-list {
	margin-top: 30px;
	position: relative;
}
.pd-area.active.pd-are-comment{
	padding-bottom: 0;
	padding-top: 0;
}
/**
 * Lineas / Detalles
 -----------------------*/





.comments-list li {
	margin-bottom: 15px;
	display: block;
	position: relative;
}

.comments-list li:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 0;
}

.reply-list {
	padding-left: 88px;
	clear: both;
	margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
	width: 65px;
	height: 65px;
	position: relative;
	z-index: 99;
	float: left;
	border: 3px solid #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	overflow: hidden;
}

.comments-list .comment-avatar img {
	width: 100%;
	height: 100%;
}

.reply-list .comment-avatar {
	width: 50px;
	height: 50px;
}

.comment-main-level:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
	width: 680px;
	float: right;
	position: relative;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent #FCFCFC;
	top: 8px;
	left: -11px;
}

.comments-list .comment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent rgba(0,0,0,0.05);
	left: -12px;
}

.reply-list .comment-box {
	width: 610px;
}
.comment-box .comment-head {
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
	float: right;
	margin-left: 14px;
	position: relative;
	top: 2px;
	color: #A6A6A6;
	cursor: pointer;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
	color: #FAC75A;
}

.comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
}

.comment-box .comment-name a {
	color: #283035;
	text-decoration: none;
}

.comment-box .comment-head span {
	float: left;
	color: #999;
	font-size: 13px;
	position: relative;
	top: 1px;
}

.comment-box .comment-content {
	background: #FFF;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #283035;}
.comment-box .comment-name.by-author:after {
	content: '著者';
	background: #FAC75A;
	color: #FFF;
	font-size: 12px;
	padding: 3px 5px;
	font-weight: 700;
	margin-left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.reply-click {
  position: absolute;
  right: 20px;
  color: #FAC75A;
  font-size: 22px;
  top: 4px;
  cursor: pointer;
}

.title-comment span{
  margin-left: 10px;

}



/** =====================
 * Responsive
 ========================*/
@media only screen and (min-width: 767px) and (max-width: 992px) {
	.comments-container {
		width: 480px;
	}

	.comments-list .comment-box , .comments-container .reply-here .group {
		width: 390px;
	}



	.reply-list .comment-box , .comments-container .reply-reply-here .group , .load-more-reply{
		width: 320px;
	}
}


/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 767px) {
	.comments-container  {
		width: 100%;
		padding: 0 7px;
		margin-left: 0;
	}

	.comments-list .comment-box,.comments-container .reply-here .group {
    width: calc( 100% - 87px );

	}


	.reply-list .comment-box , .comments-container .reply-reply-here .group , .load-more-reply{
		width: calc( 100% - 78px );

	}
	.reply-list {
		padding-left: 25px;
	}
	.comment-box .comment-name.by-author:after {
    font-size: 10px;
    padding: 3px 3px;
    margin-left: 5px;
	}
	.comment-box .comment-head span {
		font-size: 10px;
		top: 5px;
	}
}
