.click-noti {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  border: none;
}
.loading-e {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}
.comment-empty {
  display: block;
  width: 100%;
  text-align: center;
}
.full-content-popup {
  position: relative;
  z-index: 99999999;
}
.scroll-modal {
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.block-body {
  position: fixed; 
  margin: 0;
  height: 100%;
  overflow: hidden}
.w100pab {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  cursor: pointer;
}
.calendar-new {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.title-detail {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 10px;
}
.des-detail {
  font-size: 18px;
  margin-bottom: 10px;
  color: #555;
}

.calendar-new .text-calendar {

  margin-left: 10px;
  color: #555;
  font-size: 16px;
  font-weight: bold;
}
@keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

.fade-in {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

body .slick-dots li button:before {
  content: "";
}
#nav-icon1 .icono-cross:before{
  width: 30px;
  height: 3px;
}

.instagram {
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  display: inline-block;
  min-width: 97px;
  height: 20px;
  padding: 0 7px;
  white-space: nowrap;
  color: #fff;
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.avartar-noti {
  float: left;
  width: 50px;
  height: 50px;
}
.notification-message {
  float: right;
  width: calc( 100% - 62px );
  height: calc( 100% - 26px );
  display: flex;
  align-items: center;
}
.notification-title {
  color: #0071BA !important;
}
.Offline {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 100%;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 123123123;
  justify-content: center;
  align-items: center;
}
.tooltip {
    position: relative;
}
.backtohome {
  display: block;
}
.wifi {
  display: block;
  margin: 0 auto;
  font-size: 200px;
  color: #ccc;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}
.wifi-text {
  display: block;
width: 100%;
text-align: center;
font-size: 20px;
margin-top: 10px;
color: #999;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #0e6eb8;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    display: block;
    top: -7px;
    left: 2px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.label-checkbox {
  margin-left: 5px;
}
.cover-checkbox {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}
.notifications-wrapper {
  position: fixed;
  z-index: 9999999999999;
}
.cover-no-blank table.show.my-table tr .rw-cell.rw-state-selected,
 .cover-no-blank table.show.my-table tr .rw-cell.rw-state-selected:hover
.rdw-fontfamily-dropdown {
  background: #337ab7;
}
.DraftEditor-root {
    background-color: rgba(255,255,255,0);
    border: 1px solid #ddd;
    position: relative;
    z-index: 1;
    padding: 15px;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}



.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #000;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}
div.transition-group {
           position: relative;
      }
      section.route-section {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
      }


      .loading {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: 9999;
      }

      .loading-text {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        width: 100%;
        height: 100px;
        line-height: 100px;
      }
      .loading-text span {
        display: inline-block;
        margin: 0 5px;
        color: #183d77;
        font-weight: bold;
      }
      .loading-text span:nth-child(1) {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-animation: blur-text 1.5s 0s infinite linear alternate;
                animation: blur-text 1.5s 0s infinite linear alternate;
      }
      .loading-text span:nth-child(2) {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-animation: blur-text 1.5s 0.2s infinite linear alternate;
                animation: blur-text 1.5s 0.2s infinite linear alternate;
      }
      .loading-text span:nth-child(3) {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-animation: blur-text 1.5s 0.4s infinite linear alternate;
                animation: blur-text 1.5s 0.4s infinite linear alternate;
      }
      .loading-text span:nth-child(4) {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-animation: blur-text 1.5s 0.6s infinite linear alternate;
                animation: blur-text 1.5s 0.6s infinite linear alternate;
      }
      .loading-text span:nth-child(5) {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-animation: blur-text 1.5s 0.8s infinite linear alternate;
                animation: blur-text 1.5s 0.8s infinite linear alternate;
      }
      .loading-text span:nth-child(6) {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-animation: blur-text 1.5s 1s infinite linear alternate;
                animation: blur-text 1.5s 1s infinite linear alternate;
      }
      .loading-text span:nth-child(7) {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-animation: blur-text 1.5s 1.2s infinite linear alternate;
                animation: blur-text 1.5s 1.2s infinite linear alternate;
      }

      @-webkit-keyframes blur-text {
        0% {
          -webkit-filter: blur(0px);
                  filter: blur(0px);
        }
        100% {
          -webkit-filter: blur(4px);
                  filter: blur(4px);
        }
      }

      @keyframes blur-text {
        0% {
          -webkit-filter: blur(0px);
                  filter: blur(0px);
        }
        100% {
          -webkit-filter: blur(4px);
                  filter: blur(4px);
        }
      }



@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .area .img img  {
      width: 100%;
      height: 100%;
   }
}
