@charset "utf-8";




/***************************************************************************
 *
 * COMMON STYLE
 *
 ***************************************************************************/

 .text-leave{
   display: block;
   text-align: right;
   font-size: 16px;
 }
 .center-text {
   display: -webkit-flex;
   display: -ms-flex;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .limit-width {
   float: left;
   width: calc( 100% - 270px );
 }
 .hidden-tr {
   position: absolute;
   width: 0;
   height: 0;
   overflow: hidden;
 }
 .loading-style {
   position: absolute;
   top: 50%;
   left: 50%;
   margin-top: -32px;
   margin-left: -32px;
   z-index: 2;
 }
 .loading-style .lds-roller div:after {
    background: #fff;
 }
 .text-leave:hover span{
   text-decoration: underline;
   color: red;
 }

 .admin-noti .personal-panel.personal-panel-width {
    display: block;
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    margin-top: 15px;
    overflow: hidden;
    padding: 10px;
 }
  .admin-noti .personal-panel.personal-panel-width li {
    padding: 5px;
    overflow: hidden;

  }

  .admin-noti .personal-panel.personal-panel-width li  a {
    padding: 0;
  }
  .admin-noti .personal-panel.personal-panel-width li:hover a .notification-text{
    text-decoration: underline;
  }
 .admin-noti .personal-panel-width .notification-text {
    float: left;
    padding-left: 15px;
    width: calc( 100% - 175px );
    min-height: auto;
 }
 .admin-noti .personal-panel-width .notification-text2 {
    width: auto;
 }
.personal-panel.personal-panel-width.notification-list li.noti-list {
  background: none;
  border: none;
}
.personal-panel.personal-panel-width.notification-list li.noti-list p {
  background: none;
  text-align: center;
  padding: 20px;
}
 body .rodal-close {
   position: absolute;
   right: -15px;
   top: -15px;
   width: 32px;
   height: 32px;
   opacity: 0.9;
   background: #fff;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
  }
  body .rodal-close:hover {
    opacity: 1;
  }
  body .rodal-close:before, body .rodal-close:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 25px;
      width: 2px;
      background-color: #333;
      top: 6px;
    }
  body .rodal-close:before {
    transform: rotate(45deg);
  }
  body .rodal-close:after {
    transform: rotate(-45deg);
  }

  .question{
    position: absolute;
    top: 50%;
    right: -14px;
    margin-top: -14px;
    cursor: pointer;
  }
  .question i {

  }
  .cvc-input{
    padding-right: 10px;
  }
  .text-danger {
    display: block;
  }
  .cvc-input-stripe .show-pass{
    right: 45px;
  }
  .cvc-input-stripe .question{
    right: 6px;
  }
  .cvc-input-stripe .cvc-input {
    padding-right: 0;
  }
  .show-pass {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -12px;
    cursor: pointer;
  }
  .show-pass i.icss-eye , .show-pass i.icss-eye-slash {
    font-size: 22px;
    color: #ddd;
  }

  .text-stop {
    margin-bottom: 20px;
  }
  .headContent {
    position: relative;
  }
  .rodal-dialog {
    /* overflow: auto; */
  }
  .icss-home.home-menu-mobi {
    margin: 0;
    margin-right: 14px;
    margin-top: 3px;
  }

  .div-content img{
    display: block;
    margin: 7px auto;
    max-width: 90%;
  }
  .div-content p::after  , .div-content pre::after  , .div-content h1::after  , .div-content h2::after  , .div-content h3::after  , .div-content h4::after  , .div-content h5::after  , .div-content h6::after  , .div-content ul::after  , .div-content ol::after  {
    content: "";
    clear: both;
    display: table;
    margin:5px 0;
  }

  .white-page .return-list p {
    padding: 0;
    border: none;
    text-align: left;
    color: #222;
    margin-bottom: 0;
  }
  .cover-no-blank .main-public.main {
    width: 100%;
    padding: 0 40px;
  }
  .full-content-popup .rodal-dialog .pd-area {
    padding-top: 40px;
  }
  .rodal-dialog .pd-area {
    padding-top: 0;
  }



  .rdw-editor-main {
    max-height: 500px;
  }
 /* The container */
 .container-checkbox {
   display: block;
   position: relative;
   padding-left: 35px;
   margin-bottom: 12px;
   cursor: pointer;
   font-size: 12px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   line-height: 25px;
 }

 /* Hide the browser's default checkbox */
 .container-checkbox input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
 }

 /* Create a custom checkbox */
 .checkmark {
   position: absolute;
   top: 0;
   left: 0;
   height: 25px;
   width: 25px;
   background-color: #eee;
 }

 /* On mouse-over, add a grey background color */
 .container-checkbox:hover input ~ .checkmark {
   background-color: #ccc;
 }

 /* When the checkbox is checked, add a blue background */
 .container-checkbox input:checked ~ .checkmark {
   background-color: #2196F3;
 }

 /* Create the checkmark/indicator (hidden when not checked) */
 .checkmark:after {
   content: "";
   position: absolute;
   display: none;
 }

 /* Show the checkmark when checked */
 .container-checkbox input:checked ~ .checkmark:after {
   display: block;
 }

 /* Style the checkmark/indicator */
 .container-checkbox .checkmark:after {
   left: 9px;
   top: 5px;
   width: 5px;
   height: 10px;
   border: solid white;
   border-width: 0 3px 3px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
 }




   .text-center-popup {
      display: block;
      padding: 40px 0;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
   }
   .cover-checkbox-pop {
     display: block;
   }
   .icss-stack {
     font-size: 24px;
   }
   .to-all {
      padding: 10px;
      display: block;
      color: #0071BA;
      text-decoration: none;
      border-top:1px solid #ddd;
      font-size: 12px;
   }
   #header .headInfo .menu .per-name a.to-all-sp {
     color: #0071BA;
    position: fixed;
    z-index: 50;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 12px;
    background: #fff;
    left: 100%;

   }
   #header .headInfo .menu.active .per-name a.to-all-sp {
     left: 0;
   }
   .to-all:hover {
     text-decoration: underline;
   }
   .static-noti .title-noti{
      font-size: 25px;
      padding-bottom: 15px;
   }
   .static-noti .cover-paginate {
      padding-top: 20px;
      padding-bottom: 0;
      float: left;
   }
   .white-page .static-noti p {
    padding: 0;
    border: none;
    margin: 0;
   }
   .title-noti {
      display: block;
      padding: 20px 0;
      font-size: 20px;
      color: #0071BA;
   }
   .calendar-time {
     display: -webkit-flex;
     display: -ms-flex;
     display: flex;
     align-items: center;
     float: right;
   }
   .calendar-time.calendar-fix {
         width: 238px;
   }
   .calendar-time.calendar-fix .text-leave{
     float: left;
     background: #eee;
     font-size: 10px;
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 1px;
   }
   .calendar-time.calendar-fix .text-leave svg {
         color: cadetblue;
   }
   .calendar-time.calendar-fix  .time-text {
      font-size: 12px;
      color: #333;
      line-height: 27px;
   }
   .time-text {
     font-weight: 600;
     margin-left: 5px;
     float: right;
     font-size: 12px;
   }

   .personal-panel.personal-panel-width {
      width: 380px;
   }
   .personal-panel.personal-panel-width.notification-list {
      width: 100%;
      position: relative;
      top: auto;
      left: auto;
      border: none;
      border-radius: 0px;
      right: auto;
   }
   .personal-panel.personal-panel-width.notification-list li {
     overflow: hidden;
     border-bottom: 1px solid #ddd;
   }
   .personal-panel.personal-panel-width .notification-image {
      float: left;
      width: 40px;
   }
   .personal-panel.personal-panel-width .notification-image img{
     height: auto;
   }
   .project-detail-bread.cover-Breadcrumbs {
      margin: 30px 0;
   }
  .bread-crums li {
    display: inline-block;
  }
  .bread-crums li a {
    color: #4267b2;
    margin-right: 5px;
    text-decoration: none;
  }
  .bread-crums li a:hover {
    text-decoration: underline;
  }
  .cover-Breadcrumbs {
    margin: 10px 0;
  }
  .dark-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    z-index: 999999
  }
.loading-chart {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
    background-color: #FFFFFF;
    font-size: 14px;
    line-height: 1.5;
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;

}

ul {
    list-style: none;
}

.wraper {
    width: 1160px;
    margin: 0 auto;
}
.cover-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 111;
}

.label-no-active {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
  background: #ddd;
  padding: 5px;
  z-index: 1;
}
.label-active {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
  background: #ffc95c;
  padding: 5px;
  z-index: 1;
}
.label-wait {
  background: #d60;
}
body .image-gallery-thumbnails {
    width: 1400px;
    margin: 0 auto;
}

#header {
    padding: 0px 7px 0px 19px;
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#header:after {
    content: "";
    display: table;
    clear: both;
}

#header .headContent:after {
    content: "";
    display: table;
    clear: both;
}

#header .logo {
    float: left;
    width: 170px;
    height: 31px;
    margin-top: 24.5px;
}

#header .headInfo {
    float: right;
    padding-right: 150px;
}
.heart-list{
  font-size: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ddd;
  position: relative;
  margin-right: 10px;
}
.heart-list .personal-panel {
  top:40px;
  right: -14px;
}
.notification-list .personal-panel {
  top: 50px;
  right: -5px;
}
#header .headInfo.no-auth {
  padding-right: 20px;
}
#header .headInfo:after {
    content: "";
    display: table;
    clear: both;
}

#header .headInfo .menu {
    float: left;
    margin-right: 68px;
    margin-top: 0px;
}


#header .headInfo .menu li {
    display: inline-block;
    vertical-align: top;
    padding: 22px 5px 21px;
}

#header .headInfo .menu li a , #header .headInfo .menu li .link-here , #header .headInfo .menu li .top-link{
    text-decoration: none;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    width: 180px;
    border-radius: 4px;
    text-align: center;
    padding: 8px 0;
    display: block;
    letter-spacing: 0.5px;
    transition: all 0.25s;
    cursor: pointer;
    position: relative;
}


#header .headInfo .menu li:hover .top-link:after, #header .headInfo .menu li:hover .top-link:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#header .headInfo .menu li:hover .top-link:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #0071BA;
	border-width: 8px;
	margin-left: -8px;
}
#header .headInfo .menu li:hover .top-link:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #c2e1f5;
	border-width: 10px;
	margin-left: -10px;
}

#header .headInfo .menu li .top-link , #header .headInfo .menu li a{
  width: 100%;
  padding: 8px 20px;
}

#header .headInfo .menu li .link-face {
    text-decoration: none;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    width: 180px;
    border-radius: 4px;
    text-align: center;
    padding: 8px 0;
    display: block;
    letter-spacing: 0.5px;
    transition: all 0.25s;
    cursor: pointer;
}


#header .headInfo .menu li .active {
    background: #0071BA;
    color: #fff;
}
#header .headInfo .menu li .link-face.active {
    background: #0071BA;
    color: #fff;
}
#header .headInfo .menu li:hover a , #header .headInfo .menu li:hover .top-link {
    background: #0071BA;
    color: #fff;
}
#header .headInfo .menu li:hover .link-face {
    background: #0071BA;
    color: #fff;
}

#header .headInfo .menu li .span-link {
    text-decoration: none;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    width: 180px;
    border-radius: 4px;
    text-align: center;
    padding: 8px 0;
    display: block;
    letter-spacing: 0.5px;
    transition: all 0.25s;
    cursor: pointer;
}


#header .headInfo .menu li .span-link.active {
    background: #0071BA;
    color: #fff;
}

#header .headInfo .menu li:hover .span-link {
    background: #0071BA;
    color: #fff;
}


#header .headInfo .search {
    float: left;
    position: relative;
    width: 217px;
    margin-top: 25px;
}

#header .headInfo .search input[type="text"] {
    padding-left: 40px;
    border: none;
    background: #f4f4f4;
    border-radius: 9px;
    height: 29px;
    width: 100%;
}

#header .headInfo .search input::-webkit-input-placeholder {
    font-size: 12px;
}

#header .headInfo .search input::-moz-placeholder {
    font-size: 12px;
}

#header .headInfo .search input:-ms-input-placeholder {
    font-size: 12px;
}

#header .headInfo .search input:-moz-placeholder {
    font-size: 12px;
}

#header .headInfo .search input[type="submit"] {
    position: absolute;
    top: 0;
    left: 5px;
    height: 100%;
    width: 30px;
    border: none;
    background: url(../img/common/search.png) no-repeat center;
}

#header .headInfo .signIn {
    float: right;
    margin-top: 25px;
    background: #183d77;
    width: 182px;
    border-radius: 12px;
    text-align: center;
    margin-left: 15px;
}

#header .headInfo .signIn .aSign {
    display: inline-block;
    vertical-align: top;
    color: #fff;
    text-decoration: none;
    padding: 5px 0;
    text-align: center;
    font-size: 12px;
}

#header .headInfo .signIn:hover * {
    text-decoration: underline;
}


#footer {
    background: #393f48;
    padding-top: 92px;
}

#footer .subRow:after {
    content: "";
    display: table;
    clear: both;
}

#footer .colLeft {
    float: left;
    width: 460px;
    padding-left: 55px;
}

#footer .colLeft.colLeft2 {
    padding-left: 0;
    width: 500px;
}

#footer .colLeft.colLeft2 .title {
    background: transparent;
    padding-left: 0;
}

#footer .colLeft.colLeft2 .listCat {
    width: 280px;
    display: inline-block;
    vertical-align: top;
}

#footer .colLeft.colLeft2 .listCat.listCat2 {
    width: 150px;
}

#footer .colLeft .title {
    font-weight: bold;
    color: #fff;
    background: url(../img/common/search-menu.png) no-repeat center left;
    background-size: 18px;
    padding-left: 22px;
    font-size: 14px;
}

#footer .colLeft ul li {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    margin-bottom: 2px;
}

#footer .colLeft ul li a {
    text-decoration: none;
    color: #dedede;
    font-size: 12px;
    transition: all 0.25s;
}

#footer .colLeft ul li a:hover {
    opacity: .5;
}

#footer .sns {
    float: right;
    margin: 42px 48px 0 -8px;
}

#footer .sns li {
    margin-bottom: 20px;
}

#footer #copyright {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    margin-top: 82px;
    color: #fff;
    padding: 12px;
}

.sp {
    display: none;
}


.subMenu {
    position: absolute;
    top: 50px;
    text-align: center;
    background: #0071BA;
    width: 420px;
    color: #fff;
    left: 0;
    padding-top:35px;
    padding-bottom: 35px;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 200ms linear;
}



#header .headInfo .menu li:hover a > .subMenu ,
#header .headInfo .menu li:hover .top-link > .subMenu {
    transform: scaleY(1);
}

.subMenu .titleSub {
    font-weight: bold;
    font-size: 24px;
    width: 100%;
}

.subMenu .titleSub:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background: url(../img/common/search-menu.png) no-repeat center left /100% 100%;
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.subMenu .menuSub {
    margin-top: 10px;
    display: inline-block;
    width: 100%;
    text-align: left;
}
.subMenu .menuSub.just-link {
  margin-top: 0;
}

.subMenu .menuSub li {
    width: 250px;
    display: inline-block;
    vertical-align: top;
}

#header .headInfo .menu .subMenu .menuSub li {
    padding: 0;
    width: 100%;
}

#header .headInfo .menu .subMenu .menuSub li:nth-child(3n) {
    margin-right: 0;
}

#header .headInfo .menu .subMenu .menuSub li a,
#header .headInfo .menu .subMenu .menuSub2 li a,
#header .headInfo .menu .subMenu .menuSub2 li .link-face {
    font-size: 16px;
    color: #fff;
    width: 100%;
    transition: all 0.25s;
    text-align: left;
    border-radius: 0;
    border-bottom: 1px solid transparent;
}

#header .headInfo .menu .subMenu .menuSub li:hover a,
#header .headInfo .menu .subMenu .menuSub2 li:hover a,
#header .headInfo .menu .subMenu .menuSub li:hover .link-face,
#header .headInfo .menu .subMenu .menuSub2 li:hover .link-face {
  opacity: .5;
}

#header .headInfo .menu .subMenu .menuSub2 {
  border-top: 2px solid #fff;
  margin-top: 20px;
}

#header .headInfo .menu .subMenu .menuSub2 li {
    position: relative;
    padding: 0;
    margin: 0 25px;
}



#header .headInfo .menu .subMenu .menuSub2 li:last-child:after {
    content: none;
}

#header .headInfo .menu .subMenu .menuSub2 li a , #header .headInfo .menu .subMenu .menuSub2 li .face-link {
    letter-spacing: 1px;
}

.dropdown-menu {
  position: absolute;
  display: block;
  z-index: 1;
  right:0;
  top: 60px;
  min-height: 10px;
  min-width: 10px;
  width: 280px;
  -webkit-box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.18);
  box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.18);
  border-radius: 20px;
}
.personal-panel .dropdown-header {
  background: #fff;
  padding: 15px;
  position: relative;
  text-align: center;
  color: #747f8b;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
  border: 0px;
  border-style: solid;
  border-bottom-width: 1px;
  -moz-border-image: -moz-linear-gradient(right, #fff, #cedae0, #cedae0, #fff) 1 20%;
  -o-border-image: -o-linear-gradient(right, #fff, #cedae0, #cedae0, #fff) 1 20%;
  border-image: linear-gradient(to right, #fff 0%, #cedae0 40%, #cedae0 60%, #fff 100%) 1 20%;

}
.dropdown-menu .dropdown-header .triangle {
  position: absolute;
  top: -8px;
  right: 15px;
  height: 15px;
  width: 15px;
  transform: rotate(45deg);
  background: #fff;
}
.dropdown-menu .dropdown-header .count {
  position: static;
  height: 25px;
  width: 25px;
  display: inline-block;
  line-height: 24px;
  margin-left: 8px;
  font-size: 12px;
  vertical-align: middle;
}
.dropdown-menu .dropdown-body {
  max-height: 292px;
  background: #e9f0f3;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 0px 0px 10px 10px;
}
.personal-panel-width .notification {
  float: left;
  width: 100%;
  padding: 8px;
  position: relative;
  text-decoration: none;
  font-weight: 600;
  border-bottom: 1px solid #ddd;
}
.personal-panel-width .notification:last-child {
  border-bottom: none;
}
.personal-panel-width .notification.no-noti {
  border: none;
}

.dropdown-menu .dropdown-body .notification.new {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  background: #e9f0f3;
}
.dropdown-menu .dropdown-body .notification .notification-image-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.dropdown-menu .dropdown-body .notification .notification-image {
  display: inline-block;
  height: 32px;
  width: 32px;
  overflow: hidden;
  border-radius: 100%;
}
.personal-panel-width .notification-text {
  text-align: left;
  padding-left: 50px;
  color: #333;
  min-height: 36px;
  font-weight: normal;
}
.personal-panel-width .text-name {
  font-weight: bold;
}

/*AFTER LOGIN*/
.avatar {
    float: left;
    position: relative;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    right: 10px;

}
.notification-list {
  border: none;
  background: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;
  justify-content: center;
  height: 45px;
  color: #ddd;
  position: relative;
  align-items: center;
}
.number-no {
  display: block;
  padding: 2px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  position: absolute;
  background: #fc3d39;
  z-index: 7;
  color: #fff;
  font-size: 10px;
  top: 3px;
  right: 3px;
  min-width: 20px;
}

.avatar .avatar-img {
  float: right;
  display: block;
  width: 45px;
  height: 45px;
  border: 1px solid #dbdbdb;
  border-radius: 15px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.avatar .avatar-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.personal-panel {
    position: absolute;
    top: 82px;
    right: 0;
    background: #fff;
    border: 1px solid #dbdbdb;
    width: 200px;
    border-radius: 10px;
    display: none;
}
.personal-panel.desktop-notification {
  border-radius: 0;
}

.personal-panel.active {
    display: block;
}

.personal-panel ul li:not(:last-child) {
    border-bottom: 1px solid #dbdbdb;
}

.personal-panel ul li a {
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #000;
    text-decoration: none;
    padding: 15px 0;
    display: block;
    padding-left: 10px;
    background: no-repeat left 23px center;
    transition: all 200ms linear;
    text-align: right;
    width: 100%;
    text-align: left;
}

.personal-panel ul li:hover {
    background-color: #f5f5f5;
}
.personal-panel ul li:first-child
{
  border-radius: 10px 10px 0 0;
}
.personal-panel ul li:last-child
{
  border-radius: 0 0 10px 10px;
}

.personal-panel ul .name-row a:hover {
    background-color: #f5f5f5;
}

.personal-panel ul li .name {
    font-weight: bold;
}

.personal-panel ul .name-row a {
    background: #fff url('../img/common/ico-arrow.png') no-repeat right 10px center;
    position: relative;
}

.personal-panel ul .name-row a {
    padding: 9px 0;
    padding-left: 20px;
    padding-right: 23px;
    font-size: 12px;
    border-radius: 10px 10px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.personal-panel ul li p{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.personal-panel ul li p.fan-project {

}

.personal-panel ul .name-row a span {
    display: block;
    font-size: 12px;
    font-weight: normal;
}

.personal-panel ul .name-row:after {
    content: "";
    position: absolute;
    top: -10px;
    right: 15px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}

.personal-panel ul .name-row:before {
    content: "";
    position: absolute;
    top: -12px;
    right: 13px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #dbdbdb;
}



.navjs span {
    padding-left: 10px;
}
.nav-here .navjs li a svg {
  font-size: 16px;
  margin: 0;
}



@media (max-width: 1500px) {
  #header .headInfo.no-auth .menu {
    margin-right: 0;
  }

}

@media (max-width: 1400px) {

    #header .headInfo .menu {
        margin-right: 15px;
    }

    #header .headInfo .search {
        margin-right: 0;
    }
    #header .headInfo .menu li .top-link, #header .headInfo .menu li a {
      padding: 8px 7px;
    }
}

@media (max-width: 1366px) {
    #header .headInfo {
      padding-right: 140px;
    }
    .wraper {
        width: 1160px;
    }

    body .image-gallery-thumbnails {
        width: 1000px;
    }

    #header {
        padding: 0px 19px;
    }
    #header .headInfo .search {
      width: 160px;
    }

    #footer .colLeft {
        padding-left: 30px;
        width: 450px;
    }

    #footer .colLeft ul li {
        width: 200px;
    }

    #footer .colLeft.colLeft2 .listCat {
        width: 200px;
    }

    #footer .colLeft.colLeft2 {
        width: 390px;
    }
}



@media (max-width: 1210px) {

    .wraper {
        width: 100%;
        padding: 0 3%;
    }

    #header .headInfo .menu li .top-link, #header .headInfo .menu li a {
      padding: 8px 5px;
    }

     #header .headInfo .menu .subMenu li a {
      padding: 8px 20px;
    }
    #header .headInfo .signIn {
      width: 94px;
      margin-top: 12px;
    }
    #header .logo {
          width: 150px;
          margin-top: 27px;
    }


}

@media (max-width: 1140px) {

    #header .headInfo .search {
      width: 160px;
    }
    #header .headInfo .menu li a, #header .headInfo .menu li .link-here, #header .headInfo .menu li .top-link {
      font-size: 12px;
    }
}

@media (max-width: 1075px) {
  #header .headInfo .menu li a, #header .headInfo .menu li .link-here, #header .headInfo .menu li .top-link {
    font-size: 10px;
  }
  #header .headInfo .search input[type="text"] {
    font-size: 10px;
  }
    .avatar {
      right: 0;
    }
    #footer .colLeft {
        width: 30%;
    }

    #footer .colLeft.colLeft2 {
        width: 30%;
    }

    #footer .colLeft ul li {
        width: 100%;
    }

    #footer .colLeft ul li a {
        font-size: 1vw;
    }

    #header .headInfo .menu {
        margin-right: 0;
    }
}

@media (max-width: 990px) {

  #header .headInfo .search {
    width: 128px;
  }
  #header .headInfo .menu li a , #header .headInfo .menu li .link-here {
      width: 100%
  }
  #header .headInfo {
    padding-right: 120px;
  }

  #header .headInfo.no-auth {
    padding-right: 0;
  }

  #header .logo {
    width: 130px;
  }
  .avatar .avatar-img {
    width: 30px;
    height: 30px;
  }
  .notification-list {
    height: 30px;
  }
  #header .headInfo .menu li {
    padding: 22px 0px 21px;
  }


}

@media (max-width: 768px) {
  .calendar-time.calendar-fix {
    width: 100%;
    margin-top: 5px;
  }
  .limit-width {
    width: 100%;
  }
    .calendar-time {
      display: block;
      width: 100%;
    }
    .calendar-time .time-text {
      width: 100%;
      display: block;
    }
    .calendar-fix.calendar-time .time-text {
      width: auto;
    }
    .cover-paginate.noti {
      padding-bottom: 0;
    }
    .pc {
        display: none;
    }

    .sp {
        display: initial;
    }
    .icss-stack {
      font-size: 20px;
    }

    .wraper {
        width: 100%;
        padding: 0 2.5%;
    }
    .personal-panel.personal-panel-width {
      position: relative;
      top: 0;
      width: 100%;
      border-radius: 0;
    }


    body .image-gallery-thumbnails {
        width: 100%;
        padding: 0 2.5%;
    }
    .subMenu{
        transform: scaleX(1);
        display: none;
        padding-top: 0;
        padding-left: 2%;
        padding-right: 2%;
    }
    #header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        z-index: 9999;
        left: 0;

    }
    #header .headContent {
      display: block;
      height: 50px;
    }

    #header .headInfo .menu li {
        width: 100%;
        padding: 0;
        margin-bottom: 10px;
    }
    #header .headInfo .menu li svg {
      margin-right: 5px;
    }

    #header .logo {
        width: 150px;
        padding-left: 0;
        position: absolute;
        left: 0;
        top: 11px;
        margin-top: 0;
    }

    #header .headInfo {
        width: 100%;
        margin-top: 10px;
    }

    #header .headInfo .menu {
        width: 100%;
        position: fixed;
        left: 100%;
        background: #fff;
        margin: 0;
        z-index: 999991;
        padding: 0;
        background: #0071BA;
        transition: all 200ms linear;
    }

    #header .headInfo .menu.active {
        left: 0;
        overflow-y: auto;
        height: calc(100vh - 48px);
        top:50px;
    }

    #header .headInfo .menu .per-name span {
        display: inline-block;
        vertical-align: middle;
    }

    #header .headInfo .menu .per-name span i {
        display: block;
    }

    #header .headInfo .menu .per-name a,
    #header .headInfo .menu .per-name a:hover {
        background-image: none;
        padding: 22px 4%;
    }

    #header .headInfo .menu .per-name .per-avatar {
        margin-right: 15px;
        width: 50px;
    }

    #header .headInfo .menu .al-support a,
    #header .headInfo .menu .al-support a:hover {

    }



    #header .headInfo .menu .al-setting a,
    #header .headInfo .menu .al-setting a:hover {

    }

    #header .headInfo .menu .al-logout a,
    #header .headInfo .menu .al-logout a:hover {

    }

    .subMenu {
        position: static;
        width: 100%;
        margin: 0;
        overflow: hidden;
        overflow-y: auto;
        transition: all 200ms linear;
    }

    #header .headInfo .menu li:hover a~.subMenu {
        display: none;
    }

    #header .headInfo .menu li a~.subMenu {
      opacity: 0;
    }

    #header .headInfo .menu li a~.subMenu.active {
      opacity: 1;
      display: block;
      padding: 0;
    }
    #header .headInfo .menu li span~.subMenu.active {
      opacity: 1;
      display: block;
      padding: 0;
    }

    #header .headInfo .menu li.active .subMenu {
        padding: 0 4% 4% 10%;
        display: block;
    }

    .subMenu .titleSub {
        font-size: 16px;
    }

    .subMenu .menuSub {
        width: 100%;
        margin-top: 0;
    }

    .subMenu .menuSub-2 {
        margin-top: 32px;
    }

    #header .headInfo .menu .subMenu .menuSub li {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0px;
    }

    #header .headInfo .menu .subMenu .menuSub li a ,#header .headInfo .menu .subMenu .menuSub li .link-face{
        font-size: 10px;
        background-image: none;
        padding: 8px 4%;
        text-align: left;
        color: #fff;
    }
    #header .headInfo .menu .subMenu .menuSub li a , #header .headInfo .menu .subMenu .menuSub li .link-face {
      padding: 8px 8%;
    }

    #header .headInfo .menu .subMenu .menuSub li {
        border: none;
    }

    #header .headInfo .menu .subMenu .col-l {
        float: left;
        width: 50%;
    }

    #header .headInfo .menu .subMenu .col-r {
        float: right;
        width: 50%;
    }

    #header .headInfo .menu li {
        margin: 0;
    }

    #header .headInfo .menu li:not(:last-child) {
        border-bottom: 1px solid #fff;
    }

    #header .headInfo .menu li a , #header .headInfo .menu li .link-here {
        width: 100%;
        text-align: left;
        color: #fff;
        padding: 31px 4%;
        background: url('../img/common/ico-plus.png') no-repeat right 4% center;
        font-size: 12px;
    }
    #header .headInfo .menu li .link-here {
      padding: 31px 3.5%;
    }
    #header .headInfo .menu li a:hover {
        background: url('../img/common/ico-plus.png') no-repeat right 4% center;
    }

    #header .headInfo .menu li.active a,
    #header .headInfo .menu li.active a:hover,
    #header .headInfo .menu li a, #header .headInfo .menu li .link-here.active {
        background: url('../img/common/ico-minus.png') no-repeat right 4% center;
    }

    #header .headInfo .menu li a, #header .headInfo .menu li .link-here.disable-defalt{
      background: none;
    }
    #header .headInfo .menu li .link-here.disable-defalt {
      font-size: 14px;
    }
    #header .headInfo .menu li .span-link {
        width: 100%;
        text-align: left;
        color: #fff;
        padding: 31px 4%;
        background: url('../img/common/ico-plus.png') no-repeat right 4% center;
        font-size: 12px;
    }


    #header .headInfo .menu li .span-link {
      padding: 31px 3.5%;
    }

    #header .headInfo .menu li .span-link:hover {
      background: url('../img/common/ico-plus.png') no-repeat right 4% center;
    }

    #header .headInfo .menu li .span-link.active {
        background: url('../img/common/ico-minus.png') no-repeat right 4% center;
    }

    #header .headInfo .menu li.active .span-link,
    #header .headInfo .menu li.active .span-link:hover,
    #header .headInfo .menu li.active .span-link.active {
        background: url('../img/common/ico-minus.png') no-repeat right 4% center;
    }

    #header .headInfo .signIn {
        float: none;
        position: absolute;
        top: 14px;
        right: 70px;
        margin-top: 0;
        width: 80px;
    }

    #header .headInfo .signIn a {
        width: 57px;
        font-size: 10px;
        padding: 1px 0;
        border-radius: 5px;
    }

    #header .headInfo .signIn .aSign {
        padding: 1px;
        font-size: 12px;
    }

    #header .headInfo .search {
        width: 100%;
        float: none;
        margin-top: 0;
        display: none;
    }

    #header .headInfo .search input[type="text"] {
        border-radius: 5px;
    }
    .notification-list {
      position: absolute;
      top: 10px;
      right: 40px;
    }
    .notification {
      display: -ms-flex;
      display: flex;
      width: 100%;
      height: 100%;
      position: absolute;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-weight: bold;
    }

    #nav-icon1 {
        width: 28px;
        height: 24px;
        position: absolute;
        top: 14px;
        right: 0;
        margin: 0 auto;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        float: right;
    }
    #nav-icon1 img {
      height: 100%;
    }

    #nav-icon1 span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: #929292;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    #nav-icon1 span:nth-child(1) {
        top: 0px;
    }

    #nav-icon1 span:nth-child(2) {
        top: 7px;
    }

    #nav-icon1 span:nth-child(3) {
        top: 14px;
    }

    #nav-icon1.active span:nth-child(1) {
        top: 10px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #nav-icon1.active span:nth-child(2) {
        opacity: 0;
        left: 0px;
    }

    #nav-icon1.active span:nth-child(3) {
        top: 10px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    body.lock {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: fixed;
    }

    #footer {
        height: auto;
        padding-top: 30px;
    }

    #footer .colLeft {
        width: 50%;
        padding-left: 0;
    }

    #footer .colLeft.colLeft2 {
        width: 50%;
    }

    #footer .colLeft.colLeft2 ul li {
        width: 100%;
    }

    #footer .colLeft .title {
        font-size: 15px;
        padding: 5px 0;
        padding-left: 26px;
        margin-bottom: 5px;
    }

    #footer .colLeft ul {
        margin-top: 5px;
    }

    #footer .colLeft ul li {
        margin-bottom: 0;
        width: 100%;
        float: left;
        display: inherit;
        line-height: 1;
        margin-bottom: 10px;
    }

    #footer .colLeft ul li a {
        font-size: 12px;
    }

    #footer .sns {
        margin: 40px 0 0;
        width: 100%;
        text-align: center;
        float: left;
    }

    #footer .colLeft.colLeft2 .listCat {
        width: 100%;
        margin-top: 0;
    }

    #footer .colLeft.colLeft2 .listCat.listCat2 {
        width: auto;
        margin-top: 0;
    }

    #footer .sns li {
        width: 50px;
        margin-bottom: 0;
        display: inline-block;
    }

    #footer .sns li:not(:last-child) {
        margin-right: 4%;
    }

    #footer #copyright {
        margin-top: 15px;
        font-size: 10px;
        padding-bottom: 20px;
    }

    #header .headInfo .menu .subMenu .col-r {
        width: 100%;
        float: none;
        padding-top: 0;
    }

    #header .headInfo .menu .subMenu .menuSub-3 {
        overflow: hidden;
    }

    #header .headInfo .menu .subMenu .menuSub-3 li {
        width: 50%;
    }

    #header .headInfo .menu .subMenu .menuSub-3 .li:nth-child(odd) {
        float: left;
    }

    #header .headInfo .menu .subMenu .menuSub-3 .li:nth-child(even) {
        float: right;
    }

    #header .headInfo .menu .subMenu .col-l {
        padding-bottom: 0;
        border-bottom: none;
        width: 100%;
        float: none;
    }

    #header .headInfo .menu .subMenu .menuSub {
        overflow: hidden;
    }

    #header .headInfo .menu .subMenu .menuSub li {
        width: 50%;
    }

    #header .headInfo .menu .subMenu .menuSub li:nth-child(odd) {
        float: left;
    }

    #header .headInfo .menu .subMenu .menuSub li:nth-child(even) {
        float: right;
    }
}

/*PAGINATION*/
.cover-paginate{
    padding-bottom: 60px;
    text-align: center;
    position: relative;
    padding-top: 100px;
}
.cover-paginate.custom-suport{
    padding-bottom: 40px;
    text-align: center;
    position: relative;
    padding-top: 40px;
}
.cover-static .cover-paginate.custom-suport .pagination {
  width: 100%;
}
.loading-io{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.pagination {

}

.pagination li{
    display: inline-block;
    margin-right: 10px;

}

.pagination li:last-child {
    margin: 0;
}

.pagination li a {
    display: block;
    text-align: center;
    width: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #2E2929;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color .25s ease-in-out;
}

.pagination li:hover a,
.pagination li.active a{
    background-color: #0071BA;
    color: #FFF;
    font-weight: bold;
}
.pagination li:hover span,
.pagination li.active span{
    background-color: #0071BA;
    color: #FFF;
    font-weight: bold;
}
.pagination li.previous a, .pagination li.next a{
    font-size: 12px;
}
.pagination li.previous span, .pagination li.next span{
    font-size: 12px;
}
@media(max-width: 768px){
    .cover-paginate{
        padding-top: 70px;
    }
    .pagination li{
        margin-right: 5px;
    }
    .pagination li a{
        width: 28px;
        line-height: 28px;
        font-size: 12px;
    }
    #footer .sns li {
      width: auto;
      float: left;
    }
    #footer .sns {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
    }
    .personal-panel-width .notification-text {

    }
    .personal-panel-width .text-name {
      width: 100%;
      text-align: left;
    }
    .personal-panel-width .notification {
      display: block;
    }
    .white-page .static-noti .calendar-time {
      text-align: left;
    }

}


/* The alert message box */
.alert {
    padding: 20px;
    background-color: #fac75a; /* Red */
    color: white;
    margin-bottom: 15px;
    margin-top: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}
body .rdw-fontfamily-wrapper {
  display: none;
}
body .rdw-embedded-modal ,
body .rdw-embedded-modal-header-option ,
body .rdw-embedded-modal-link-input ,
body .rdw-image-modal ,
body .rdw-image-modal-header-option ,
body .rdw-link-modal ,
body .rdw-link-modal-label ,
body .rdw-colorpicker-modal-style-label{
  font-size: 12px;
  text-align: center;
}
body .rdw-colorpicker-modal {
  width: 200px;
}
