.company{
	margin-bottom: 50px;
}

.company .banner-company{
	background-image: url(../img/staticPage/main_company.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
}

.company .company-table{
	margin-top: 30px;
	width: 100%;
	font-size: 18px;
}

.company .company-table th,
.company .company-table td{
	border-bottom: 1px solid #999999;
}

.company .company-table th{
	width: 30%;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 100px;
	text-align: left;
	vertical-align: top;
}

.company .company-table td{
	line-height: 1.8;
	padding-top: 12px;
	padding-bottom: 12px;
}

@media(max-width: 768px){
	.company .company-table{
		font-size: 14px;
	}
	
	.company .company-table th{
		padding-left: 0;
	}
}