@font-face {
  font-family: 'epgyobld';
  src: url(../font/EPSON-FUTO-GYOSHO.ttf);
}

@font-face {
  font-family: 'epgyosho';
  src: url(../font/EPSON-GYOSHO.ttf);
}

.daihyou-aisatsu{
	margin-bottom: 50px;
}

.daihyou-aisatsu .banner-daihyou-aisatsu{
	background-image: url(../img/staticPage/main_daihyou-aisatsu.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
}

.daihyou-aisatsu .text{
	font-size: 18px;
	line-height: 1.8;
}

.daihyou-aisatsu .text strong{
	color: #c1272d;
}

.daihyou-aisatsu .bold{
	font-weight: bold;
	font-size: 20px;
}

.daihyou-aisatsu .headline2{
	font-size: 30px;
	border-bottom: 2px solid #b3b3b3;
	display: inline-block;
}

.daihyou-aisatsu .headline3{
	font-size: 26px;
	font-family: epgyosho;
}

.daihyou-aisatsu .headline{
	margin-top: 25px;
}

.daihyou-aisatsu .signature{
	color: #666;
	font-size: 62px;
	text-align: right;
	font-family: 'epgyobld';
}

.daihyou-aisatsu .signature span{
	font-size: 30px;
	font-weight: normal;
}

@media(max-width: 768px){
	.daihyou-aisatsu .text{
		font-size: 14px;
	}

	.daihyou-aisatsu .bold{
		font-size: 16px;
	}

	.daihyou-aisatsu .headline2{
		font-size: 20px;
	}

	.daihyou-aisatsu .headline3{
		font-size: 18px;
	}

	.daihyou-aisatsu .signature{
		font-size: 40px;
		text-align: center;
	}

	.daihyou-aisatsu .signature span{
		font-size: 20px;
		display: block;
	}
}