/***************************************************************************
 *
 * EMAIL STYLE
 *
 ***************************************************************************/
 .reply-email {
   display: block;
   text-align: left;
   color: #0071BA;
   float: left;
 }
 .reply-email:hover {
   text-decoration: underline;
 }
 .action-button {
   float: left;
   width: 100%;
 }
.title-project-name {
  display: block;
  width: 100%;
  font-size: 18px;
  color: #FAC75A;
  padding-left: 60px;
}
.bold-text {
  font-weight: bold !important;
}
.bold-text .message-mail:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background: blue;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -5px;
}
.bold-text .message-mail {
  position: relative;
  padding-left: 15px;
}
.cover-send-mail {
  display: block;
  width: 100%;
  position: relative;
  margin-top: 0;
  padding-top: 60px;
  padding-top: 81px;
}
  .cover-send-mail .title-mail {
    font-size: 18px;
    text-align: center;
    height: 80px;
    line-height: 80px;
    background: #f7fafd;
  }
  .cover-send-mail .icon-sidebar {
    margin-right: 5px;
  }
  .cover-send-mail .compose .button-compose
  {
    width: 100%;
    display: block;
    letter-spacing: 0.2em;
    padding: 18px 0;
    text-align: center;
    background-color: #FAC75A;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    color: #333333;
    -webkit-box-shadow: #E3E4E8 0 5px 0;
    box-shadow: #e6b753 0 5px 0;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    line-height: 100%;
    margin-bottom: 25px;
    color: #fff;
    text-decoration: none;
  }
  .cover-send-mail .compose .button-compose:hover {
    opacity: 0.8;
  }
  .right-content-mail {
    float: left;
    width: calc( 100% - 348px );
    padding-top: 20px;
  }
  .none-email {
    display: block;
    width: 100%;
    text-align: center;
    border: 1px dotted #ddd;
    padding: 20px;
  }
  .avatar-and-name {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
  }
  .avataer-mail {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
  .avataer-mail img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  }
  .text-name {
    display: block;
    width: calc( 100% - 30px );
    text-align: left;
  }
  .composer-table {
    width: 100%;
    border: 1px solid #E3E4E8;
    -webkit-box-shadow: #E3E4E8 0 2px 0;
    box-shadow: #E3E4E8 0 2px 0;
    margin-bottom: 2px;
    max-width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .composer-table tr th {
    text-align: left;
    border: 1px solid #E3E4E8;
    background-color: #F6F8FA;
    font-size: 12px;
    padding: 10px;
  }
  .composer-table tr td:nth-child(1) {
    border-right: 1px solid #E3E4E8;
  }
  .composer-table tr td {
    padding: 10px;
    border-bottom: 1px solid #E3E4E8;
  }
  .composer-table tr th:nth-child(1){
    width: 80%;
  }
  .composer-table tr th:nth-child(2){
    width: 20%;
  }
  .title-composer {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
  }
  .blank p
  {
    padding: 20px;
    border: 2px dotted #E3E4E8;
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

.cover-box-composer {
  display: block;
  width: 100%;
  border-top: 1px solid #E3E4E8;
  padding-top: 20px;
  overflow: hidden;
}
.cover-avatar {
  float: left;
  width: 100px;
  height: 100px;
}
.cover-avatar-small {
  float: left;
  width: 50px;
  height: 50px;
}
.cover-avatar-small img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.text-send {
  float: left;
  width: calc( 100% - 100px );
  padding-left: 30px;
}
.title-box small{
  font-weight: 400;
  margin-right: 10px;
}
.title-box-inner {
  margin-bottom: 10px;
}
.message_body {
  margin-bottom: 10px;
}
.message_body textarea {
  resize: none;
}
.input-box {
  margin-bottom: 20px;
  background-color: #FBFAF2;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 20px;
  margin-top: 10px;
}
.cover-avatar img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.message-send-list {
  border-top: 1px solid #E3E4E8;
}
.message-send-list li {
  display: block;
  padding: 10px;
  color: #333333;
  border-bottom: 1px solid #E3E4E8;
  background: #F6F8FA;
  overflow: hidden;
}
.cover-right {
  float: left;
  width: calc( 100% - 50px );
  padding: 0 10px;
}
.cover-right .text-up {
  display: block;
  width: 100%;
  overflow: hidden;
}
.cover-right .text-up .title-name {
  float: left;
  width: 50%;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cover-right .text-up .title-time {
  float: left;
  width: 50%;
  text-align: right;
  font-size: 14px;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 768px) {
  .cover-box-composer {
    margin-bottom: 20px;
  }
  .cover-send-mail{
    padding-top: 0px;
  }
  .cover-send-mail .sidebar {
    margin-top: 10px;

  }
  .right-content-mail {
    width: 100%;
  }
  .avatar-and-name {
    display: inline-block;
    width: calc( 100% - 60px );
    overflow: hidden;
  }
  .avataer-mail {
    float: right;
    margin-right: 0;
  }
  .text-name{
    float: right;
    width: calc( 100% - 50px );
    text-align: right;
    padding-right: 10px;
    line-height: 30px;
  }
  .cover-send-mail{
    padding-bottom: 0;
  }

}
@media (max-width: 500px) {
  .cover-avatar {
    float: none;
    display: block;
    margin-bottom: 10px;
  }

  .text-send {
    display: block;
    width: 100%;
    padding-left: 0;
  }
}
