.kakuseitowa{
	margin-bottom: 50px;
}

.kakuseitowa .banner-kakuseitowa{
	background-image: url(../img/staticPage/main_kakuseitowa.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
}

.kakuseitowa .text{
	margin-top: 35px;
	font-size: 18px;
}

.kakuseitowa .text strong{
	color: #c1272d;
}

.kakuseitowa .bold{
	font-weight: bold;
	font-size: 20px;
}

@media(max-width: 768px){
	.kakuseitowa .text{
		font-size: 14px;
	}

	.kakuseitowa .bold{
		font-size: 16px;
	}
}