@charset "utf-8";

/***************************************************************************
*
* login.css
*
***************************************************************************/
.separator {
	position: relative;
	border-top: 1px solid #E3E4E8;
	margin: 10px auto;
	height: 1px !important;
	margin-top: 50px;
  margin-bottom: 50px;
}
.separator::after {
	position: absolute;
	content: "OR";
	background-color: #F6F8FA;
	display: block;
	text-align: center;
	line-height: normal;
	color: #999999;
	left: 50%;
	top: -.75em;
	margin-left: -1.5em;
	padding: 0 0.5em;
}

.my-facebook-button-class {
	display: block;
	background: #337ab7;
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: #fff;
	margin: 0 auto;
	margin-top: 10px;
	width: 210px;
}
.login-panel{
	background: #f6f8fa;
	overflow: hidden;
	padding: 50px;
}
.login-panel .form-login{
	width: 100%;
}
.cover-360 {
	width: 360px;
}
.col-l{
	width: 50%;
	float: left;
	position: relative;
}
.col-l:before{
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 1px;
	height: 100%;
	background: #bfbfbf;
}
.col-r{
	width: calc(50% - 1px);
	float: right;
	padding-left: 39px;
}
.area{
	padding: 102px 0 50px;
}
.title{
	font-size: 20px;
	margin-bottom: 40px;
}
.form-field{
	margin-bottom: 20px;
}
.form-field .form-label{
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 15px;
}
.form-field input[type="text"], .form-field input[type="password"], .form-field input[type="email"]{
	width: 360px;
	border: 1px solid #e0e0e0;
	font-size: 14px;
	color: #000;
    padding: 14px 0 13px;
    padding-left: 20px;
}

.col-r .form-field input[type="text"]{
	width: 340px;
}
.form-field-chk{
	font-size: 12px;
	text-align: center;
}
.form-field-chk input{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.form-link{
	text-align: center;
	margin-bottom: 30px;
}
.form-link a{
	font-size: 12px;
	color: #46c1f7;
}
.form-link a:hover {
	color:#f4902c;
}
.form-submit{
	text-align: center;
}
.form-submit input{
	width: 210px;
	text-align: center;
	background: none;
	border: 1px solid #f4902c;
	color: #f4902c;
	font-size: 12px;
	padding: 15px 0;
	transition: all 200ms linear;
}
.form-submit input:hover{
	background: #f4902c;
	color: #f6f8fa;
}
.one-row-btn{
	font-size: 12px;
	color: #fff;
	background: #edc970;
	border: none;
	width: 130px;
	text-align: center;
	padding: 16px 0;
	transition: all 200ms linear;
}
.one-row-btn:hover{
	background: #fff;
	border: 1px solid #edc970;
	border-left: none;
	color: #edc970;
	padding: 15px 0;
}
.form-one{
	overflow: hidden;
}
.form-one input{
	float: left;
}
.title-social {
	display: block;
	font-size: 20px;
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 30px;
}
.social-button {
	float: left;
	width: 42%;
	padding-bottom: 45px;
}
.tab-social {
	width: 100%;
}
.tab-social .social-button {
	width: 45.49%;
}
@media(max-width: 1210px){
	.col-r .form-field input[type="text"]{
		width: 100%;
	}
	.cover-input {
		width: calc(100% - 30%);
	}
	.one-row-btn{
		width: 30%;
	}
}
@media(max-width: 1000px){
	.col-r{
		text-align: center;
	}
	.col-r .form-field input[type="text"]{
		width: 100%;
	}
	.one-row-btn{
		width: 150px;
		margin-top: 20px;
		display: inline-block;
		vertical-align: top;
		float: none;
	}
	.sign-area .form-one input{
		float: left;
		margin: 0;
		width: 30%;
	}
	.title{
		text-align: left;
	}
	.form-field .form-label{
		text-align: left;
	}
}
@media(max-width: 975px){
	.login-panel .form-login {
	    width: 100%;
	    padding-right: 11%;
	}
	.cover-360 {
		width: 100%;
	}
	.form-field input[type="text"],
	.form-field input[type="password"]{
		width: 100%;
	}
}
@media(max-width: 768px){
	.form-login .form-field  input {
		font-size: 12px;
	}

	.login-panel .form-login {
		padding-right: 0;
		overflow: hidden;
	}
	.tab-social , .title-social.needHideSP {
		display: none;
	}
	.social-button {
		width: 50%;
	}

	.title{
		margin-bottom: 30px;
	}
	.area.sign-area {
		margin-top: 66px;
		padding-bottom: 4%;
		padding-top: 0px;
	}
	.col-l, .col-r{
		width: 100%;
		float: none;
	}
	.col-l:before{
		display: none;
	}
	.col-l{
		border-bottom: 1px solid #bfbfbf;
		padding-bottom: 40px;
	}
	.col-r{
		padding-top: 40px;
		padding-left: 0;
	}
	.form-field input[type="text"], .form-field input[type="password"], .form-field input[type="email"]{
		width: 100%;
	}
	.login-panel{
		padding: 30px;
	}
	.login-panel form{
		display: block;
	}
	.one-row-btn{
		width: 120px;
	}
	.form-one input[type="text"], .form-one input[type="email"]{
		width: 100%;
	}
	.cover-input {
		width: calc(100% - 105px);
	}
	.sign-area .form-one input {
		width: 105px;
	}
	.col{
		width: 100%;
	}
	.sign-area .form-one .cover-input input {
		width: 100%;
	}
}
.facebook-button {
	width: calc( 100% - 20px );
	text-align: center;
	background: none;
	border: 1px solid #4267b2;
	color: #fff;
	font-size: 13px;
	padding: 6px 7px;
	padding-left: 18px;
	-webkit-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
	background: #4267b2;
	display: block;
	margin-top: 10px;
	cursor: pointer;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.facebook-button:hover {
	opacity: 0.8;
}
.icono-facebook {
	height: 21px;
}
.icono-facebook:before {
	top: 7px;
}
.register-side .social-button {
	display: block;
	float: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
.register-side .social-button .auth-twitter ,
.register-side .social-button .facebook-button
{
	width: 70%;
  margin-bottom: 10px;
	text-align: left;
	font-weight: 400;
	padding: 3px 5px;
	padding-left: 22px;
}
.register-side .social-button .facebook-button {
	padding: 6px 7px;
	padding-left: 25px;

}
.login-here-separator {
	width: 71%;
	margin: 50px 0;
}
.auth-twitter {
	width: calc( 100% - 20px );
	background: none;
	border: 1px solid #00ACEE;
	color: #fff;
	font-size: 13px;
	-webkit-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
	display: block;
	margin-top: 10px;
	cursor: pointer;
	background: #00ACEE;
	font-weight: bold;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	text-align: left;
	font-weight: 400;
	padding: 3px 5px;
	padding-left: 22px;
}
.auth-twitter:hover {
	opacity: 0.8;
}
.auth-twitter svg {
	color: #fff!important;
	width: 17px;
	margin-right: 10px;
}
.facebook-button  i {
	color:#fff;
}

@media(max-width: 768px){
	.register-side .social-button .auth-twitter,
	.register-side .social-button .facebook-button {
		width: 100%;
	}
	.social-button {
		width: 100%;
		padding-bottom: 0;
	}
	.facebook-button {
		text-align: left;
		width: 100%;
	}
	.auth-twitter {
		width: 100%;
	}
	.login-here-separator {
		width: 100%;
	}
}
@media(max-width: 320px){
	.login-panel {
		padding: 15px;
	}
}
