.go-more {
  color: #0e6eb8;
  text-decoration: none;
  float: right;
}
.go-more.mr {
  margin-right: 5px;
}
.go-more:hover {
  text-decoration: underline;
}
.new-detail {
  display: block;
  overflow: hidden;
  position: relative;
}
.about_box.bg {
  background: url(../img/news/bg.jpg);
  background-size: cover;
  padding-bottom: 75px;
}
.wraper.padding {
  padding: 40px;
}
.each-item {
  display: block;
  width: 100%;
  overflow: hidden;
  margin-bottom: 40px;
}
.each-item .thumnail {
  float: left;
  width: 400px;
  position: relative;
}
  .each-item .thumnail .label-news-project {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 2;
    color: #fff;
  }
  .each-item .thumnail img {
    display: block;
    width: 100%;
    height: 100%;
  }
.each-item .text-right-only {
  float: right;
  width: calc( 100% - 440px );
}
.cover-list-new {
  padding: 0 80px;
  padding-top: 50px;
}
.text-right-only .time{
  font-size: 16px;
  color: #0e6eb8;
}
.text-right-only .title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}
.text-right-only .des {
  font-size: 16px;
  line-height: 1.8;
}

.title-green {
  border-left: 5px solid rgb(1, 166, 98);
  padding: 10px;
}
.green-time {
  color: rgb(1, 166, 98);
  margin-bottom: 15px;
}
.title-page {
  font-weight: bold;
  font-size: 20px;
}
.des-thumnail {
  margin-top: 20px;
  margin-bottom: 20px;
}
.button-bottom {
  display: block;
  width: 100%;
  position: relative;
}

/
/* Layout */
/* ------ */

.button-bar {
  height: auto;
  margin-left: 20px;
}
.button-bar {
  background: #ededed;
  padding: 40px;
}
/* General Button */
/* -------------- */
.button-bottom  .button {
  position: relative;
  margin: 0;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 9.8px;
  padding-bottom: 9.8px;
  background: #0e6eb8;
  color: #ffffff;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 20px;
  display: block;
  width: 84px;
  text-align: center;
  margin-left: 27px;
  border: none;
}
.button::after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
}
.button-bottom  .button:hover {
  opacity:0.8;
}

/* Arrow Buttons */
/* ------------- */

.prev::after {
  border-style: solid;
}

/* Prev Button */
/* ----------- */
.prev::after {
  border-color: transparent #0e6eb8 transparent transparent;
  right: 84px;
  border-width: 22px;
}



 @keyframes zoom {
	 25% {
		 transform: scale3d(1.5, 1.5, 0);
	}
	 50% {
		 transform: scale3d(1, 1, 0);
	}
	 75% {
		 transform: scale3d(1.25, 1.25, 0);
	}
}
 @keyframes spin {
	 100% {
		 transform: rotate(360deg);
	}
}


.back-button-list {
  border: 1px solid #0e6eb8;
  background-color: #0e6eb8;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px 50px;
  color: #fff;
  outline: none;
  letter-spacing: 0.2em !important;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -80px;
  text-decoration: none;
}
.back-button-list.button-center {
  display: block;
  position: relative;
  margin: 0 auto;
  left: auto;
  width: 210px;
  text-align: center;
  padding: 10px 10px;
}
.back-button-list:hover {
  opacity: 0.8;
}





@media(max-width: 920px){

  .each-item .thumnail {
    width: 300px;
  }
  .each-item .text-right-only {
    width: calc( 100% - 320px );
  }
  .cover-list-new {
    padding: 0 20px;
    padding-top: 50px;
  }
}

@media(max-width: 767px){

  .each-item .thumnail {
    width: 100%;
    margin-bottom: 20px;
  }
  .each-item .text-right-only {
    width: 100%;
  }
  .back-button-list {
    left: auto;
    right: 0;
  }

}
