.month-year-text {
  line-height: 37px;

}
.open-edit-form {
  border: none;
  text-decoration: underline;
}
.tab-div {
  display: none;
}
.tab-div.active {
  display: block;
}
.blank-text-report {
  background: #fff;
  margin-top: 20px;
}
.show-popup-bank {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
body .rdw-image-modal-btn , body .rdw-embedded-modal-btn , body .rdw-link-modal-btn{
  width: 78px;
}
.cover-no-blank table.show.my-table.table-80-per tr td {
  width: 80%;
}
.area .row .col .img .trash-function {
  position: absolute;
  top:-15px;
  right: -15px;
  z-index: 23;
  cursor: pointer;
}
.trash-function i {
  color: #ff7479;
  background: #fff;
}
.blank {
  background: #fff;
  padding: 20px;
  text-align: center;
}
.icon-sucess {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  justify-content: center;
  font-size: 50px;
  margin-bottom: 20px;
  color: #0e6eb8;
}
.white-page .text-sucess {
  color: #0e6eb8;
}

.moth-year div {
  float: left;
  width: 20%;
  margin-right: 10px;
  overflow: hidden;
}
.moth-year {
  overflow: hidden;
  margin-bottom: 5px;
}

.confirm-button  {
  display: block;
  float: left;
  color: #fff;
  text-decoration: none;
  background: #fd8b02;
  width: 125px;
  border-radius: 5px;
  text-align: center;
  padding: 12px;
  margin-top: 15px;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  display: block;
  margin: 0 auto;
  border: none;
}
.confirm-button.cancel {
  float: right;
}

.cover-no-blank .wraper{
  background: #fff;
  padding: 20px;
}
.my-page {
  background: #f7fafd;
}
.upload-box {
  float: left;
  width: 33.33%;
  padding: 10px;
}
.cover-no-blank .main-write .warning.w100 {
  float: left;
  width: 100%;
  text-align: left;
  padding: 0 10px;
  font-weight: 400;

}
.my-page .image {
  display: block;
  background-color: #ffffff;
  border: 1px solid #E3E4E8;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  width: 188px;
  height: 188px;
  display: block;
  position: relative;
  float: left;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}
  .my-page .image img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  }
.profile-detail {
  float: left;
  width: calc(100% - 250px);
  padding-left: 20px;
}
.name {
  font-size: 24px;
  color: #222222;
  font-weight: bold;
}
.my-page .number {
  display: block;
  margin-top: 10px;
}
.my-page .number span {
  color: #222222;
  font-weight: bold;
}
.urls {
  float: left;
  width: 100%;
  margin-top: 30px;
}
.urls * {
  float: left;
  margin-right: 10px;
  color: #222;
}
.urls a {
  margin-right: 15px;
  color: #3CBCE1;
}
.urls a:hover {
  color: #FAC75A;
}
.clear-fix::after {
    content: "";
    clear: both;
    display: table;
}
.nav-here {
  display: block;
  width: 100%;
  margin-top: 30px;
}
.nav-here ul {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ddd;
}
.nav-here li {
  font-size: 12px;
  margin: 0 1px;
  -webkit-transition: none;
  transition: none;
  width: 100%;
  display: block;
  background: #fff;
  border-radius: 5px 5px 0 0;
}

.nav-here * {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: normal;
  font-size: 11px;
}
.nav-here li a , .nav-here li button
{
  display: block;
  padding: 0 16px;
  line-height: 38px;
  color: #333333;
  padding-top: 2px;
  -webkit-transition: none;
  transition: none;
}
.nav-here li button
{
  border: none;
  width: 100%;
}
.nav-here li a.active, .nav-here li a:hover , .nav-here li button.active , .nav-here li button:hover{
    padding-top: 0;
    line-height: 38px;
    background-color: #ffffff;
    border-top: 2px solid #FAC75A;
    opacity: 1.0;
}
.nav-here .number-propject
{
  font-size: 12px;
  color: #ffffff;
  background-color: #FAC75A;
  padding: 2px 5px;
  margin-left: 5px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  line-height: 1;
}
.nav-here li a svg
{
  display: inline-block;
  margin: 0 0.5em 0 0;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  speak: none;
}
.white-page {
  display: block;
  width: 100%;
}
.white-page p
{
  padding: 20px;
  border: 2px dotted #E3E4E8;
  text-align: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #222;
  margin-bottom: 20px;
}
.white-page .inner {
  padding: 20px;
  background: #fff;
}
.cover-no-blank .sidebar {
  width: 30%;
  padding: 20px;
  float: left;
}
.cover-no-blank .sidebar .menu li a
{
  display: block;
  padding: 20px;
  color: #333333;
  background-color: #F6F8FA;
}
.cover-no-blank .sidebar .menu li a {
  text-decoration: none;
  position: relative;
}
.cover-no-blank .sidebar .menu li a span {
  position: absolute;
  right: 20px;
  top:18px;
  font-size: 16px;
  display: none;
}
.cover-no-blank .sidebar .menu li a.selected,
.cover-no-blank .sidebar .menu li:hover a {
  position: relative;
  color: #ffffff;
  background-color: #434A54;
}
.cover-no-blank .sidebar .menu li a.selected span,
.cover-no-blank .sidebar .menu li:hover a span {
  display: block;
}
.cover-no-blank .main {
  width: 70%;
  padding: 20px;
  float: right;
}
.cover-no-blank .main .check-it-out {
  font-size: 12px;
  color: #333333;
  margin-bottom: 15px;
  display: block;
}
.cover-no-blank.inbox .main table.my-table {
  margin-bottom: 15px;
}
.cover-no-blank.inbox table tr.my-tr td.my-td, .cover-no-blank.inbox table tr.my-tr th.my-th {
  padding: 8px;
}
.cover-no-blank .main table.my-table {

  border: 1px solid #E3E4E8;
  -webkit-box-shadow: #E3E4E8 0 2px 0;
  box-shadow: #E3E4E8 0 2px 0;
  margin-bottom: 2px;
  font-size: inherit;
  width: 100%;
  max-width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-bottom: 40px;

}
.cover-no-blank .main .cover-table {
  display: none;
}
.cover-no-blank .main .cover-table.active {
  display: block;
}
.plus-form {
  padding-bottom: 0.2rem;
  font-size: 16px;
  font-weight: bold;
  border-bottom: dashed 1px #0071BA;
  color: #0071BA;
}
.cover-no-blank table.show.my-table tr td, .cover-no-blank table.show.my-table tr th {
  border: 1px solid #E3E4E8;
  background: #fff;
}
.cover-no-blank table.show.my-table tr th {
  background-color: #F6F8FA;
  width: 20%;
}

.must-icon:after, .new-icon:after, .updated-icon:after {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 0 3px;
    margin-left: 5px;
    color: #ffffff;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    line-height: 140%;
}

.must-icon:after {
    content: "(*)";
    color: #E65D65;
    margin: 0;
    padding: 0;
}
.must-icon {
  position: relative;
}

.cover-no-blank  table tr.my-tr td.my-td, .cover-no-blank  table tr.my-tr th.my-th {
  padding: 20px;
}

.cover-no-blank  input[type="email"], .cover-no-blank  input[type="text"], .cover-no-blank  input[type="password"], .cover-no-blank  input[type="number"], .cover-no-blank  input[type="tel"], .cover-no-blank  textarea {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid #E3E4E8;
    padding: 7px 10px;
    color: #333333;
    outline: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    max-width: 100% !important;
}
.cover-no-blank  textarea
{
  resize: vertical;
  min-height: 150px;
  width: 100%;
  font-weight: normal;
  padding: 10px;
}

.submit-box {
    text-align: center;
    letter-spacing: -.40em;
}

.submit-box input[type="submit"]:active, .submit-box input[type="submit"]:focus, .submit-box input[type="submit"]:hover , .submit-box .button-submit:hover{
    background: transparent;
    color: #0071BA;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

}

.submit-box input[type="submit"] , .submit-box .button-submit {
    border: 1px solid #0071BA;
    background-color: #0071BA;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 7px 50px;
    color: #fff;
    outline: none;
    letter-spacing: 0.2em !important;
}
.submit-box .button-submit
{
  width: 140px;
  margin: 0 auto;
  margin-top: 20px;
  margin-right: 10px;
  margin-top: 20px;
  text-decoration: none;
}
.submit-box.email-box {
  text-align: left
}
.submit-box.email-box .button-submit {
  background: #fff;
  color: #ffc95c;
  border:1px solid #ffc95c;
  letter-spacing: 0 !important;
  width: auto;
  padding: 7px 30px;
}
.submit-box.email-box .button-submit:hover {
  background: #ffc95c;
  color: #fff;
}

.submit-box input[disabled] {
  background: #ddd;
  border: 1px solid #ddd;
  cursor: no-drop;
}
.submit-box input[disabled]:hover {
  color: #ddd;
}
.cover-header-button {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.cover-header-button i {
  margin-right: 5px;
}
.subscriber.btn-mypage button{
  float: left;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  padding: 12px;
  margin-top: 15px;
  transition: all 200ms linear;
  margin-right: 10px;
  background: #1b95e0;
  font-weight: bold;
  border: none;
  width: 250px;

  background: #1b95e0 url(../img/profile/arrow.svg) no-repeat left 35px center / 10px;

}
.subscriber.btn-mypage .un-active {
  background: #ddd url(../img/profile/arrow.svg) no-repeat left 35px center / 10px;

}
.btn-mypage a{
  float: left;
  color: #fff;
  text-decoration: none;
  background: #fd8b02 url(../img/profile/arrow.svg) no-repeat left 35px center / 10px;
  width: 250px;
  border-radius: 5px;
  text-align: center;
  padding: 12px;
  margin-top: 15px;
  transition: all 200ms linear;
  margin-right: 10px;
}

.btn-mypage a:hover,.btn-mypage button:hover{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* NEW PROJECT PAGE */
.new-project-title{
  font-size: 25px;
}

.new-project-title i, .new-project-title span, .new-project-title strong{
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

.new-project-title strong{
  color: #fff;
  font-size: 14px;
  background: #425B71;
  border-radius: 4px;
  padding: 2px 5px;
}
.write-nav.static-page-here {
  position: relative;

}
.write-nav.static-page-here .link-to-project-detail.stop-project {
  position: absolute;
  right: 0;
  top: 0;
  background: #9e0000;
  width: 200px;
}
.write-nav{
  margin-top: 20px;
}

.write-nav ul{
  border-bottom: 2px solid #dedede;
  overflow: hidden;
}

.write-nav ul li{
  display: inline-block;
}

.write-nav ul li a{
  text-decoration: none;
  color: #0071BA;
  font-weight: bold;
  padding: 15px 32px;
  display: block;
  transition: all 200ms linear;
  background: #fff;
}
.write-nav ul li span{
  text-decoration: none;
  color: #0071BA;
  font-weight: bold;
  padding: 15px 32px;
  display: block;
  transition: all 200ms linear;
  background: #fff;
}
.write-nav ul li.active a, .write-nav ul li a:hover{
  background: #0071BA;
  color: #fff;
}
.write-nav ul li.active span, .write-nav ul li span:hover{
  background: #0071BA;
  color: #fff;
}
.write-nav ul li:not(:last-child){
  margin-right: 5px;
}

.cover-no-blank .main-write{
  width: 100%;
}

.cover-no-blank .main-write .sub{
  font-weight: bold;
  font-size: 12px;
  margin-top: 15px;
  display: block;
}

.cover-no-blank .main-write .warning{
  color: #0e6eb8;
  display: block;
  margin-top: 5px;
}
.cover-no-blank .main-write .intro{
  font-size: 12px;
}
.cover-no-blank .main-write .intro span{
  color: #0e6eb8;
}
.form-check-label {
  font-size: 12px;
}
.form-check-label.check-fix-font-size{
  font-size: 16px;
}
.cover-no-blank .main-write h3{
  font-size: 22px;
  margin-bottom: 20px;
}
.write-nav ul li.save-draft{
  float: right;
}
.write-nav ul li.save-draft a{
  display: block;
  width: 200px;
  background: #fd8b02;
  border-radius: 4px;
  color: #fff;
  padding: 8px;
  text-align: center;
  transition: all 200ms linear;
}

.write-nav ul li.save-draft a:hover{
  opacity: .8;
}

.write-nav ul li.save-draft a.isDisable{
  cursor: not-allowed;
  opacity: .8;
}
.submit-box-create-project .btn-preview, .submit-box-create-project input , .submit-box .btn-preview{
  display: inline-block;
}
.submit-box-create-project .btn-preview , .submit-box .btn-preview{
  border: 1px solid #0071BA;
  background-color: #0071BA;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 7px 50px;
  color: #fff;
  outline: none;
  letter-spacing: 0.2em !important;
  margin-left: 15px;
  text-decoration: none;
  cursor: pointer;
}
.submit-box-create-project .btn-preview:hover {
  background: transparent;
  color: #0071BA;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.submit-box .btn-preview.delete-btn-cvc {
  background: #9e0101;
  border: 1px solid #9e0101;
}
.submit-box .btn-preview.delete-btn-cvc.disable {
  background: #ddd;
  border: 1px solid #ddd;

}
.submit-box .btn-preview.delete-btn-cvc.disable:hover {
  background: #ddd;
  color: #fff;
}
.submit-box .btn-preview.delete-btn-cvc:hover {
  background: transparent;
  color: #9e0101;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.list-button {
  float: right;
  margin-bottom: 15px;
  z-index: 2;
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  margin-top: 2px;
}
.list-button li {
  display: inline-block;
  margin-left: 15px;
  color: #0e6eb8;
  cursor: pointer;
}
.list-button li  span  {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}
.list-button li  span i{
  color:  #434A54;
}
.list-button span {
  color:#0085D0;
  padding-left: 10px;
}
.list-button li  span i.icono-list {
  color: #434A54;
}
.action-table {
  font-size: 23px;
  margin-right: 10px;
}
@media(max-width: 768px){
  .moth-year div {
    width: 30%;
  }
  .upload-box {
    width: 100%;
  }
  .white-page .upload-box .note {
    padding: 0;
  }
  input[type="radio"].form-check-input {
    width: 14px;
    height: 14px;
  }

  .my-page .image {
    width: 150px;
    height: 150px;
    margin: 0 auto 4%;
    float: none;
    text-align: center;
  }

  .name{
    text-align: center;
    font-size: 20px;
  }
  .profile-detail{
    float: none;
    width: 100%;
    padding-left: 0;
  }
  .my-page .number{
    text-align: center;
  }
  .nav-here ul{
    /*flex-wrap: wrap;*/
  }
  .cover-no-blank .sidebar, .cover-no-blank .main{
    width: 100%;
    float: none;
    padding: 0;
  }
  .cover-no-blank .main {
    margin-top: 10px;
  }
  .cover-no-blank.new-project-here .main{
    padding: 0;
  }
  .cover-no-blank table tr.my-tr td.my-td, .cover-no-blank table tr.my-tr th.my-th{
    padding: 0;
  }


  .cover-no-blank table.show.my-table tr th{
    width: 30%;
    padding: 5px;
  }
  .cover-no-blank .form-group input{
    width: 100%;
  }
  .cover-no-blank table.my-table tr.my-tr td.my-td{
    padding: 5%;
  }
  .cover-no-blank table.my-table tr.my-tr th.my-th label{
    font-size: 12px;
  }
  .cover-no-blank .main table{
    margin-top: 4%;
  }

  .btn-mypage a{
    margin: 15px auto 0;
  }
  .cover-header-button {
    display: block;
  }
  .subscriber.btn-mypage button , .btn-mypage a{
    width: 250px;
    margin: 0 auto;
    display: block;
    float: none;
    margin-top: 10px;
  }
}





/* Drop Zone */
.dropzoneStyle.activeDropZone {
  border: 2px dashed rgb(0, 135, 247);
}

.dropzoneStyle.activeDropZone.rejectedFile {
  border:2px dashed red;
}
.white-page .note {
  display: block;
  line-height: 1.2;
  border: none;
  margin-bottom: 0;
}
.dropzoneStyle {
  background: white;
  border-radius: 5px;
  border: 2px dashed rgb(114, 121, 128);
  border-image: none;
  width: 100%;
  height: 326px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;

}
.cover-drop-zone-here {
  width: 100%;
  height: 100%;
}
.imageUpload {
  width: 100%;
  height: 100%;
}
.imageUpload > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageUpload > div > p {
  width: 100%;
  font-size: 14px;
}
.imageUpload {
  color: rgb(100, 108, 127);
  line-height: 1.4rem;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  cursor: pointer;

}
.cover-image-preview img {
  display: block;
  width: auto;
  height: 100%;
}
/*.imageUpload {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}*/
.cover-image-preview {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.cover-image-preview img {
  display: block;
  max-width: 100%;
}
.upload-box.just-one {
  width: 100%;
}
@media(max-width: 768px){
  .render-feild {
    overflow: hidden;
  }
  .my-td .rdw-inline-wrapper {
    display: block;
  }
  .my-td .rdw-option-wrapper {
    float: left;
  }
  .cover-image-preview img {
    height: auto;
  }
  .cover-no-blank  input[type="email"], .cover-no-blank  input[type="text"], .cover-no-blank  input[type="password"], .cover-no-blank  input[type="number"], .cover-no-blank  input[type="tel"], .cover-no-blank  textarea {
    width: 100% !important;
  }
  .dropzoneStyle .cover-drop-zone-here {
    display: block;
    width: 100%;
  }
  .dropzoneStyle{
    width: 100%;
    display: block;
  }
  .white-page p{
    font-size: 12px;
  }
  .dropzoneStyle {
    height: auto;
  }
   .white-page .dropzoneStyle p {
    margin-bottom: 0;
    padding: 10px;
  }
  /* .dropzoneStyle input{
    position: static !important;
    width: 100%;
  }
  .dropzoneStyle input {

  } */
  .white-page{
    background: none;
  }
  .my-page{
    margin-top: 49px;
    padding-top: 20px;
  }
  .navjs li span{
    /*display: none;*/
    background: none;
    padding-left: 0;
    line-height: 1.5;
    padding-top: 0px;
    display: block;
  }
  .nav-here .navjs li {
    position: relative;
    padding-bottom: 10px;
  }
  .nav-here .padding-30.navjs li {
    padding-bottom: 30px;
  }
  .nav-here .number-propject {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
  }


  .nav-here .number-propject{
    margin-left: 0;
  }
  .nav-here li a{
    text-align: center;
    height: 100%;
    text-decoration: none;
  }


  /* NEW PROJECT */
  .new-project-title{
    font-size: 20px;
  }
  .new-project-title strong{
    font-size: 10px;
  }
  .write-nav ul, .write-nav ul li.save-draft{
    border-bottom: none;
  }
  .write-nav ul li:not(:last-child){
    margin-right: 0;
  }
  .write-nav ul li{
    width: calc(100%/3);
    float: left;
    border-bottom: 2px solid #dedede;
  }
  .write-nav ul li a{
    font-size: 10px;
    padding: 5px 0;
    text-align: center;
  }
  .write-nav ul li span{
    font-size: 10px;
    padding: 5px 0;
    text-align: center;
  }
  .write-nav ul li.save-draft{
    float: none;
    width: 100%;
    text-align: center;
  }
  .write-nav ul li.save-draft a{
    margin: 4% auto;
  }
  .submit-box-create-project input[type="submit"]{
    padding: 5px;
    width: 40%;
    font-size: 12px;
  }
  .submit-box-create-project .btn-preview{
    margin-left: 5px;
    padding: 5px;
    width: 45%;
    font-size: 12px;
    margin-top: 10px;
  }
  .submit-box-create-project .btn-preview.sp-fix  {
    margin-top: 5px;
    width: auto;
  }
  .write-nav{
    background: none;
  }
  .my-tr.sp{
    display: table-row;
  }
}

.button-remove {
  display: block;

  background: none;
  border:none;
  color:#d41010;
}
.form-check  {
  display: inline-block;
  margin-right: 20px;
  display: flex;
  float: left;
  align-items: center;
}
.form-check-input {
  margin-right: 10px;
}
