@charset "utf-8";

/***************************************************************************
*
* register.reg .css
*
***************************************************************************/
.rodal-dialog .thank-area.login-panel {
	height: 100%;

}
.rodal-dialog .reg.area {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: relative;
}
.rodal-dialog .reg.area .wraper {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	overflow: auto;
}
.rodal-dialog .reg.area .wraper .register-panel {
	width: 100%;
}

.reg.area{
	margin-top: 102px;
	margin-bottom: 75px;
}
.reg .register-panel{
	background: #f6f8fa;
	overflow: hidden;
	padding: 50px;
}
.reg .title{
	font-size: 30px;
	text-align: center;
	margin-bottom: 55px;
}
.reg .form-label{
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 15px;
}
.reg .form-label span{
	color: #fff;
	background: #e65d65;
	text-align: center;
	margin-left: 10px;
	font-size: 10px;
	padding: 0 5px;
	border-radius: 4px;
}
.reg .form-text{
	text-align: center;
}
.reg .form-field{
	margin-bottom: 20px;
}
.reg .form-field input[type="text"]{
	width: 470px;
	border: 1px solid #e0e0e0;
	padding: 15px 0;
	padding-left: 20px;
	padding-right: 10px;
	font-size: 12px;
	color: #000;
}
.reg .form-chk{
	text-align: center;
}
.reg .form-chk label{
	font-size: 12px;
}
.reg .form-chk input{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.reg .form-submit{
	text-align: center;
}
.reg .form-submit input{
	background: none;
	border: 1px solid #46c1f7;
	color: #46c1f7;
	font-size: 12px;
	width: 150px;
	text-align: center;
	padding: 8px;
	transition: all 200ms linear;
}
.reg .form-submit input:hover{
	background: #46c1f7;
	color: #f6f8fa;
}
.reg .blue-text{
	color: #46c1f7;
}
@media(max-width: 768px){
	.reg .area{
		margin-top: 94px;
		margin-bottom: 4%;
	}
	.reg .register-panel{
		padding: 30px;
	}
	.reg .form-field input[type="text"]{
		width: 100%;
	}
}
