
.about_box {
  display: block;
  width: 100%;
}

.thank_contact p{
  font-size: 24px;
  text-align: center;
}
.thank_contact a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  width: 180px;
  border-radius: 4px;
  text-align: center;
  padding: 8px 0;
  display: block;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  cursor: pointer;
  background: #0071BA;
  color: #fff;
  margin: 37px auto;
  border:1px solid #0071BA;
  margin-bottom: 46px;

}
.thank_contact a:hover  {
  background: none;
  color: #0071BA;
}


.banner-css {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  background-image:url(../img/staticPage/content-page-03.jpg);
  margin-top: 80px;
  margin-bottom: 50px;
}
.banner-css.contact-banner {
  background-image:url(../img/staticPage/cont-bg.jpg);
}
.banner-css.news-list-banner {
  background-image:url(../img/staticPage/news-list.jpg);
}
.contact .form {
  padding:  0 100px;
}
.contact .just-contact {
  float: left;
  width: calc( 100% - 205px );
}
.contact .just-contact textarea {
  resize: none;
  height: 200px;
  border: 1px solid #e0e0e0;
  padding: 14px;
}
.contact-information {
  font-size: 14px;
  line-height: 2.143;
  color: #000;
  margin-bottom: 35px;
}
.contact-information span {
  font-size: 25px;
}

.title-white {
  display: block;
  width: 70%;
  height: 100px;
  background: rgba(255,255,255,0.8);
  margin: 0 auto;
  font-size: 30px;
  font-weight: 600;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 5px;
}
.big-title {
  line-height: 100%;
  display: inline-block;
  padding: 0 10px 10px;
  border-bottom: 3px solid #333333;
  font-size: 14px;
  font-weight: 600;
  margin: 15px 0;
}
.cover-text {
  margin-bottom: 40px;
}
.contact .form-field .form-label {
  float: left;
  width: 205px;
  margin-bottom: 0;
  padding-top: 15px;
}
.contact .form-field .form-label span {
  float: right;
  margin-right: 20px;
  background: #e84534;
  color:#fff;
  text-align: center;
  padding: 3px;
  line-height: 1;
}
.contact .input-render {
  float: left;
  width: calc( 100% - 205px );
}
.contact .form-submit {
  text-align: left;
}
.contact .form-submit input {
  border: 1px solid #0071BA;
  background: #0071BA;
  color: #fff;
  padding: 10px 0;
  width: 100px;
}
.contact .form-submit input:hover {
  background: none;
  color: #0071BA;
}
@media screen and (max-width: 767px) {
  .title-white {
    font-size: 16px;
    width: 95%;
  }

  .banner-css  {
    height: 225px;
    background-size: cover;
  }
  .contact .form {
    padding:20px;
  }
  .contact .form-field .form-label {
    width: 100%;
    margin-bottom: 15px;
  }
  .contact .input-render , .contact .just-contact {
    width: 100%;
  }
  .contact .form-field .form-label span {
    float: none;
    margin-left: 5px;
  }
  .contact .form-field .form-label.fix-sp-mb {
    display: none;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

   .banner-css {
     display: block;
     padding-top: 100px;
   }
}
