@charset "utf-8";

/***************************************************************************
*
* thank.css
*
***************************************************************************/

.thank-area .area{
	margin-top: 102px;
	margin-bottom: 75px;
}
.thank-area.login-panel{
	background: #f6f8fa;
	overflow: hidden;
	padding: 100px 50px;
}
.thank-area .title{
	font-size: 30px;
	text-align: center;
	margin-bottom: 55px;
}
.thank-area .text{
	text-align: center;
}
@media(max-width: 768px){
	.thank-area .area{
		margin-top: 94px;
		margin-bottom: 4%;
	}
	.thank-area.login-panel{
		padding: 40px 13px;
	}
}
