@charset "utf-8";


/***************************************************************************
*
* index.css
*
***************************************************************************/
.video-here-banner {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
}
#video-background {
  width: 100%;
  /* position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden; */

}
.image-gallery-thumbnail {
    padding: 11px;
    width: 95px !important;
}

.slider-thumbnail {
    padding: 0 !important;
    height: 34px;
    overflow: hidden;
    border-radius: 5px;
    width: 60px;
}

.image-gallery-thumbnail+.image-gallery-thumbnail {
    padding: 11px !important;
}

.image-gallery-thumbnail img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
}

span.icon {
    width: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

span.icon img {
    display: inline-block;
    vertical-align: middle;
}

span.title-area {
    display: inline-block;
    vertical-align: middle;
}

.area2 .icon {
    width: 28px;
}

.area5 .icon {
    width: 20px;
}

.BrainhubCarousel__dots {
    background: rgba(0, 0, 0, .5);
}

.BrainhubCarousel__thumbnail {
    position: relative;
}

.BrainhubCarousel__thumbnail .active:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.BrainhubCarousel__thumbnail .active img {
    z-index: 2;
    position: relative;
}

.BrainhubCarousel__thumbnail:hover {
    background: rgba(0, 0, 0, .7);
}
.baner-here {
  position: relative;
}
.baner-here .banner {
    /* background: url(../img/welcome/bnn-bg.jpg) no-repeat top left; */
    /* padding: 30px 0; */
    margin-top: 80px;
    /* padding-bottom: 30px; */
    padding: 0;
    background: none;
}

.banner .row:after {
    content: "";
    display: table;
    clear: both;
}

.banner .row .img {
    /*	width: 450px;
	height: 266px;*/
    overflow: hidden;
    float: left;
    position: relative;
    transition: all 200ms linear;
    /* background: #fff; */
}

.banner .row .img:hover{
  opacity: 0.8;
}

.banner .row .img img {
    width: 600px;
    height: 400px;
}

.baner-here {
    line-height: 1;
}

.baner-here .slick-dots li {
    transition: all 0.25s;
    height: auto;
    width: auto;
    padding: 16px 20px 14px;
    margin: 0;
    float: left;
}

.baner-here .slick-dots {
    display: -webkit-flex!important;
    display: -ms-flex!important;
    display: flex!important;
    justify-content: center;
    align-items: center;
}

.baner-here .slick-dots li.slick-active {
    background: #fff;
}

.baner-here .slick-dots li:hover {
    background: rgba(0, 0, 0, 0.7);
}

.baner-here .slick-dots li .thumnail-img {
    width: 79px;
    height: 41px;
    display: block;
}

.baner-here .slick-dots li .thumnail-img img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.banner .row .colRight {
    float: right;
    width: calc(100% - 600px);
    background: url(../img/welcome/banner-bg.jpg) no-repeat top left;
    background-size: cover;
    text-align: center;
    padding: 30px 50px 37px;
    height: 400px;
    position: relative;
}

.banner .row .colRight .centerRight {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
}

.banner .row .colRight .title a{
    font-weight: bold;
    font-size: 21px;
    line-height: 1.55;
    margin-bottom: 0;
    min-height: 64px;
    max-height: 64px;
}

.banner .row .colRight .title a{
  text-decoration: none;
  color: #000;
}

.banner .colRight .rowCount {
    text-align: center;
    margin: 18px 0 20px;
}

.banner .colRight .rowCount .inlBlock {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    letter-spacing: -1px;
}

.banner .colRight .rowCount p.date {
    margin-right: 56px;
}

.banner .colRight .rowCount p .spDate {
    font-weight: bold;
    font-size: 21px;
    display: inline-block;
    margin-left: 40px;
    line-height: 1;
}

.banner .colRight .rowCount p .spPrice {
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    margin-left: 40px;
    display: inline-block;
    letter-spacing: 0.5px;
}

.banner .pTram {
    margin-top: 21px;
    margin-left: 0px;
    text-align: left;
}

.banner .pTram .yellow {
    text-align: left;
    height: 12px;
    border-radius: 15px;
    width: 115px;
    background: #fff769;
    display: inline-block;
    vertical-align: top;
}

.banner .pTram .number {
    line-height: 1;
    font-size: 21px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;
}

.banner .btnView {
    margin-top: 34px;
    text-align: center;
}

.banner .btnView a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    background: #fff;
    text-align: center;
    font-size: 14px;
    padding: 9px 0 8px;
    width: 200px;
    transition: all 0.5s;
    /* dung */
    line-height: 1.5;
}

.banner .btnView a:hover {
    background: #f5f5f5;
}

.banner .listImages {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 74px;
}

.listImages.slick-thumb {
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    bottom: -99px;
}

.banner .listImages ul {
    text-align: left;
}

.banner .listImages ul:after {
    content: "";
    display: table;
    clear: both;
}

.banner .listImages ul li {
    float: left;
    width: calc(100%/8);
}

.banner .listImages ul li a {
    display: block;
    padding: 16px 33px 14px;
    transition: all 0.25s;
}

.banner .listImages ul li a:hover {
    background: rgba(0, 0, 0, 0.7);
}

.banner .listImages ul li.active a {
    background: #fff;
}

.area .img {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms linear;
    height: 206px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}
.area .img > a {
  display: block;
  width: 100%;
  height: 100%;
}
.area .img > a > span {
  display: block;
  width: 100%;
  height: 100%;
}
.area .img > a > span > img {
  width: 100%;
  height: 100%;
  display: block;
}

.area {
    margin-top: 50px;
}

.area .wraper {
    position: relative;
}

.area .linkAll {
    position: absolute;
    top: 0;
    right: 0;
}

.area .linkAll a {
    display: inline-block;
    color: #0e6eb8;
    position: relative;
    text-decoration: none;
    border: 1px solid #0e6eb8;
    border-radius: 3px;
    padding: 4px 14px;
    overflow: hidden;
    position: relative;
}
.area .linkAll a:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all 200ms linear;
    background: rgba(1, 166, 98, .1);
    border-radius: 0 10px 10px 0;
}

.area .linkAll a:hover:after {
    width: 150%;
}

.area .titleArea {
    font-weight: bold;
    font-size: 24px;
}

.area .row {
    margin-top: 20px;
}
.area-list.area .row {
  margin-top: 0;

}

.area .row:after {
    content: "";
    display: table;
    clear: both;
}

.area .row .col {
    float: left;
    width: calc(100%/4 - 15px);
    margin-right: 20px;
    padding-bottom: 0;
    border: 1px solid #ddd;
    -webkit-box-shadow: #E3E4E8 0 4px 0;
    box-shadow: #E3E4E8 0 4px 0;
    border-radius: 0 0 5px 5px;
    border-top: 2px solid #0e6eb8;
}

.area .row .col:nth-child(4n) {
    margin-right: 0;
}

.rowBot .rowBot-l,
.rowBot .rowBot-r {
    display: inline-block;
}

.rowBot.fan .rowBot-r {
  display: none;
}

.area .row .col .boxCol .rowBot.fan .rowBot-l .price {
  display: none;
}
.area .row .col .boxCol {
    padding: 14px 15px 0;
    box-shadow: 0px 3px 7px 0 rgba(204, 204, 204, 0.48);
    background: #fff;
    border-radius: 0 0 4px 4px;
}

.area .row .col .boxCol .postTitle {
    min-height: 46px;
    max-height: 46px;
}

.area .row .col .boxCol .postTitle a {
    font-weight: bold;
    font-size: 12px;
    line-height: 1.95;
    color: #000;
    text-decoration: none;
}

.area .row .col .boxCol .postTitle a:hover {
    text-decoration: underline;
}

.area .row .col .boxCol .rPeople {
    margin-top: 10px;
}

.area .row .col .boxCol .rPeople:after {
    content: "";
    display: table;
    clear: both;
}

.area .row .col .boxCol .rPeople span a {
    color: #999999;
    font-size: 10px;
    text-decoration: none;
}

.area .row .col .boxCol .rPeople span a:hover {
    text-decoration: underline;
}

.area .row .col .boxCol .rPeople span .name-user {
    color: #999999;
    font-size: 10px;
    text-decoration: none;
}

.area .row .col .boxCol .rPeople span .name-user:hover {
    text-decoration: underline;
}

.area .row .col .boxCol .rPeople .note {
    float: left;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 5px;
}

.area .row .col .boxCol .rPeople .people {
    float: right;
    width: 50%;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 5px;
}

.area .row .col .boxCol .rPeople span i {
    margin-right: 5px;
}

.area .row .col .boxCol .meter {
    width: 100%;
    border-radius: 15px;
    height: 12px;
    background: #e0e0e0;
    margin-top: 23px;
    position: relative;
}
.area .row .col .boxCol .meter.fan {
  background: transparent;
}
.area .row .col .boxCol .rowBot.fan .rowBot-l {
  text-align: center;
  width: 100%;
}
.area .row .col .boxCol .meter .countNum {
    background: #ffc95c;
    border-radius: 15px;
    height: 12px;
    position: absolute;
    top: 0;
    left: 0;
}

.area .row .col .boxCol .meter .countNum .numTr {
    font-size: 12px;
    color: #fff;
    line-height: 1;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.area .row .col .boxCol .rowBot {
    background: #F6F8FA;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 20px;
    text-align: center;
    padding: 16px 0;
    border-radius: 0 0 5px 5px;
}

.area .row .col .boxCol .rowBot:after {
    content: "";
    display: table;
    clear: both;
}

.area .row .col .boxCol .rowBot p {
    width: 86px;
    display: inline-block;
    vertical-align: top;
    font-size: 11px;
}

.area .row .col .boxCol .rowBot p.pNumber {
    display: inline-block;
    vertical-align: top;
    width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.area .row .col .boxCol .rowBot p .number {
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-top: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.area1 {
    padding-bottom: 50px;
    padding-top: 0;
}

.area2 {
    background: url(../img/welcome/area2-bg.jpg) no-repeat top left;
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-top: 0;
}

.area2 .row {
    margin-top: 39px;
}
.area .row .col .img a{
    position: relative;
}
.area .row .col .img a:after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgba(227, 228, 232, .2);
    transition: all 200ms linear;
}
.area .row .col .img a:hover:after{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.area2 .row .col .boxCol {
    box-shadow: 0px 3px 7px 0 rgba(204, 204, 204, 1);
}

.area3 {
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 50px;
}

.area3 .row {
    margin-top: 20px;
}

.area3 .row .col .boxCol {
    box-shadow: 0 0 0 0;
    padding-bottom: 25px;
}

.area3 .btn {
    margin-top: 64px;
    text-align: center;
}

.area3 .btn a , .btn-effect {
	display: inline-block;
    color: #fff;
    text-decoration: none;
    width: 321px;
    background: #0e6eb8;
    padding: 20px 0 22px;
    font-size: 12px;
    font-weight: bold;
    position: relative;
}
.btn-effect {
  border: none;
  display: block;
  margin: 20px auto;
  text-align: center;
}
.area3 .btn a::before, .area3 .btn a::after , .btn-effect:before , .btn-effect::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.area3 .btn a:hover span , .btn-effect:hover span{
  transform: scale(1.2, 1.2);
}

.area3 .btn a::before , .btn-effect::before{
  opacity: 0;
  background: rgba(255, 255, 255, 0.1);
  transform: scale(0.1, 0.1);
}

.area3 .btn a:hover::before , .btn-effect:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.area3 .btn a::after, .btn-effect::after {
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.area3 .btn a:hover::after , .btn-effect::after {
  transform: scale(0, 0);
  opacity: 0;
}

.area4 {
    padding-top: 63px;
    padding-bottom: 42px;
    background: #f4f4f4;
    border-top: 2px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
}

.area4 .row {
    margin-top: 20px;
}

.area4 .row .col {
    margin-bottom: 46px;
}

.area5 {
    margin-top: 0px;
    padding-top: 10px;
}

.area5 .row {
    margin-top: 35px;
}

.area6 {
    margin-top: 20px;
    padding-top: 0;
}

.area6 .row {
    margin-top: 20px;
}

.area7 {
    margin-top: 10px;
    padding-bottom: 50px;
    padding-top: 0;
}

.area7 .row {
    margin-top: 20px;
}

@media(max-width: 1366px) {
    .banner .colRight .rowCount p.date {
        margin-right: 21px;
    }
    .banner .row .colRight {
        background-size: cover;
    }
    .banner .pTram {
        margin-left: 0px;
    }
    .banner .listImages ul li a {
        padding: 16px 20px 14px;
    }
    .area .row .col {
        width: calc(100%/4 - 15px);
        margin-right: 20px;
    }
}

@media (max-width: 1130px) {
    .banner .row .colRight .title a{
        font-size: 19px;
    }
    .banner .colRight .rowCount p .spDate,
    .banner .colRight .rowCount p .spPrice,
    .banner .pTram .number {
        font-size: 18px;
    }
    .banner .colRight .rowCount p.date {
        display: block;
        margin-right: 0;
        margin-bottom: 15px;
    }
    .banner .colRight .rowCount .inlBlock {
        display: block;
    }
    .banner .pTram {
        text-align: center;
    }
}

@media (max-width: 1100px) {
    .banner .row .colRight .title a{
        font-size: 16px;
        min-height: inherit;
        max-height: inherit;
        text-align: center;
    }
}

@media(max-width: 1065px){
    .area .row .col{
        width: calc(100%/3 - 15px);
        margin-bottom: 20px;
    }
    .area .row .col:nth-child(4n){
        margin-right: 20px;
    }
    .area .row .col:nth-child(3n){
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .area .img {
        height: 135px;
    }
    .area3,
    .area5 {
        padding-top: 0;
    }
    .baner-here .banner {
        /* padding-bottom: 30px; */
        padding-bottom: 0px;
    }
    .banner .row .colRight .centerRight {
        position: static;
        transform: none;
    }
    .small-title {
        display: none;
    }
    .rowBot {
        overflow: hidden;
    }
    .rowBot .rowBot-l {
        width: 50%;
        float: left;
        text-align: left;
    }

    .rowBot .rowBot-r {
        width: 50%;
        float: right;
        text-align: right;
    }


    .area .row .col .boxCol .rowBot .rowBot-r p .number {
        margin-right: 10px;
    }
    .area .row .col .boxCol .rPeople {
        display: none;
    }
    .image-gallery-thumbnails-wrapper {
        display: none;
    }
    .banner {
        padding: 15px 10px;
        margin-top: 49px !important;
    }
    .banner .row {
        position: relative;
    }

    .banner .row .img {
        width: 100%;
    }

    .banner .row .colRight {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 15px;
        background: rgba(0, 0, 0, 0.5);
        height: auto;
    }
    .banner .row .img img {
        height: 250px;
        margin: 0 auto;
        width: 100%;
    }
    .banner .pTram {
        margin-top: 10px;
        margin-left: 0px;
    }
    .banner .pTram .yellow {
        width: 55px;
    }
    .banner .pTram .number {
        font-size: 16px;
        margin-left: 10px;
        color: #fff;
    }
    .banner .btnView {
        display: none;
    }
    .banner .colRight .rowCount {
        margin-top: 10px;
        color: #fff;
        margin: 0;
    }
    .banner .row .colRight .title a{
        font-size: 14px;
        color: #fff;
        text-align: center;
        margin-bottom: 15px;
    }
    .banner .colRight .rowCount p.date {
        margin-right: 20px;
        font-size: 10px;
        margin-bottom: 5px;
        display: inline-block;

    }
    .fix-sp-padding {
      padding-top: 5px;
    }
    .banner .colRight .rowCount .inlBlock{
        display: inline-block;

    }
    .banner .colRight .rowCount p .spDate {
        font-size: 16px;
        margin-left: 10px;
        vertical-align: baseline;
    }
    .banner .colRight .rowCount p {
        font-size: 10px;
        letter-spacing: 0;
    }
    .banner .colRight .rowCount p .spPrice {
        font-size: 16px;
        margin-left: 10px;
    }
    .banner .pTram{
        text-align: left;
    }
    .banner .colRight .pTram .number {
        font-size: 16px;
        margin-top: 0;
    }
    .area {
        margin-top: 40px;
        padding-bottom: 0;
    }
    .area .titleArea {
        font-size: 16px;
        background-size: 20px;
    }
    .area .linkAll {
        right: 10px;
    }
    .area .linkAll a {
        font-size: 14px;
    }
    .area .linkAll a:after {
        bottom: 3px;
    }
    .area .row {
        margin-top: 20px;
    }
    .area .row .col {
        width: 49%;
        margin-bottom: 4%;
    }
    .area .row .col:nth-child(3n){
        margin-right: 2%;
    }
    .area .row .col:nth-child(4n){
        margin-right: 2%;
    }
    .area .row .col:nth-child(odd) {
        margin-right: 2%;
    }
    .area .row .col:nth-child(even) {
        margin-right: 0;
    }
    .area .row .col .boxCol {
        padding: 3% 3% 0;
    }
    .area .row .col .boxCol .postTitle {
        font-size: 12px;
        line-height: 1.4;
        min-height: 46px;
        max-height: 46px;
    }
    .area .row .col .boxCol .rPeople {
        margin-top: 10px;
        text-align: left;
    }
    .area .row .col .boxCol .rowBot {
        width: 106%;
        margin: 10px -3% 0;
    }
    .area .row .col .boxCol .rPeople span {
        font-size: 1.8vw;
    }
    .area .row .col .boxCol .rPeople .note {
        background-size: 10px;
        padding-left: 15px;
        float: none;
        display: block;
    }
    .area .row .col .boxCol .rPeople .people {
        background-size: 9px;
        padding-left: 15px;
        float: none;
        display: block;
        margin-top: 5px;
    }
    .area .row .col .boxCol .meter {
        margin-top: 12px;
    }
    .area .row .col .boxCol .rowBot p {
        width: 100%;
    }
    .area .row .col .boxCol .rowBot p.pNumber {
        width: 100%;
    }
    .area .row .col .boxCol .rowBot p .number {
        display: inline-block;
        vertical-align: bottom;
        margin-left: 10px;
    }
    .area1 {
        padding-bottom: 0px;
    }
    .area2 {
        padding-top: 40px;
        padding-bottom: 70px;
        margin-top: 60px;
    }
    .area3 {
        padding-bottom: 0;
    }
    .area3 .row .col .boxCol {
        padding: 3%;
    }
    .area3 .btn {
        margin-top: 10px;
        display: block;
    }
    .area4 {
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: 50px;
    }
    .area5{
      margin-top: 50px;
    }
    .area6{
      margin-top: 10px;
    }
    .area7 {
      margin-top: 10px;
      padding-bottom: 50px;
    }
}

@media(max-width: 414px) {
    .banner .pTram {
        margin-left: 0px;
    }
}

@media(max-width: 375px) {
    .banner .pTram {
        margin-left: 0px;
    }
}



/* Dung Css */

.area .btn-green.btn {
    margin-top: 64px;
    text-align: center;
}

.area .btn-green.btn a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    width: 321px;
    background: #0e6eb8;
    padding: 20px 0 22px;
    font-size: 12px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .area .linkAll {
        position: static;
        text-align: center;
        margin-top: 8%;
    }
    .area .linkAll a {
        display: block;
        color: #fff;
        text-align: center;
        width: 320px;
        background: #fd8b02 url(../img/welcome//arrow.svg) no-repeat left 75px center /10px;
        text-decoration: none;
        margin: 0 auto;
        padding: 20px 0 22px;
        font-weight: bold;
        font-size: 12px;
        letter-spacing: 1px;
        background:
    }
    .area .btn-green.btn {
        margin-top: 10px;
        display: block;
    }

}

.cover-yellow {
    display: block;
}

.image-gallery-slides {
    white-space: normal;
}


.image-gallery-thumbnails-wrapper {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.image-gallery-thumbnails {
    padding: 0;
}

.slider-thumbnail {
    display: inline-block;
    padding: 16px 33px 14px;
    transition: all 0.25s;
}

.slider-thumbnail:hover {
    background: rgba(0, 0, 0, 0.7);
}

.image-gallery-thumbnail.active {
    border: none;
    background: #fff;
}

.image-gallery-thumbnail img {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.image-gallery-thumbnail+.image-gallery-thumbnail {
    border: none;
    padding: 0;
    margin: 0;
}

.image-gallery-thumbnail {
    border: none;
}

.image-gallery-thumbnail {
    width: 12.5%;
}

.slick-slide {
    padding: 0px 7.5px;
}

.baner-here .slick-slide {
    padding: 0;
}

.banner .pTram .cover-yellow {
    text-align: left;
    border-radius: 15px;
    width: 93px;
    background: #e0e0e0;
    display: inline-block;
    vertical-align: middle;
}

body .slick-next,
body .slick-prev {
    width: 8px;
    height: 31px;
}

body .slick-next:before {
    opacity: 1;
    content: '';
    background: url(../img/welcome//ico-right.png) no-repeat top left;
    width: 12px;
    height: 31px;
    font-size: 31px;
    display: block;
}

body .slick-prev:before {
    opacity: 1;
    content: '';
    background: url(../img/welcome//ico-left.png) no-repeat top left;
    width: 12px;
    height: 31px;
    font-size: 31px;
    display: block;
}

@media(max-width: 1366px) {

    .slider-thumbnail {
        padding: 16px 20px 14px;
    }
}

@media(max-width: 768px) {
    .banner .pTram .cover-yellow {
        width: 80px;
    }
    .banner .pTram .yellow{
        height: 10px;
    }
    .BrainhubCarousel__dots {
        display: none;
    }
    .area .linkAll a{
        width: 250px;
        margin: 0 auto;
        padding: 14px;
        border-radius: 30px;
        border: none;
    }
    .number span{
        margin-left: 0;
    }
    .baner-here .slick-dots li a, .slick-dots li a{
        width: 12px;
        height: 12px;
        background: #989998;
        border-radius: 50%;
        display: block;
    }
    .banner .listImages, .listImages{
        bottom: -20px;
        background: transparent;
    }
    .baner-here .slick-dots li:not(:last-child), .slick-dots li:not(:last-child){
        margin-right: 14px;
    }
    .baner-here .slick-dots li, .slick-dots li{
        padding: 0;
        border-radius: 50%;
        margin: 0;
    }
    .baner-here .slick-dots li.slick-active a, .slick-dots li.slick-active a{
        background: #183d77;
    }
    .area2 .slick-dots{
        bottom: -40px;
    }
    .area2 .slick-dots li:not(:last-child){
        margin-right: 0;
    }
    .area .row .col .boxCol .rowBot {
      padding: 6px;
    }
    .area .row .col .boxCol .rowBot.fan {
      padding: 16px 6px;

    }
}



#backtotop.is-fixed {
    position: fixed;
    bottom: 20px;
    right: 0;
}

#backtotop span {
    position: relative;
    width: 113px;
    height: 50px;
    display: block;
    color: #FFFFFF;
    font-size: 12px;
    background: #0e6eb8;
    padding: 22px 0 0 0;
    text-align: center;
    text-decoration: none;
}

#backtotop span:before, #backtotop span:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
}

#backtotop span:after {
    content: "";
    top: 14px;
    right: 49px;
    margin: 0 0 0 -10px;
    width: 10px;
    height: 10px;
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}
